[2019-10-16 15:55] rosibaj commented on #721
lgtm thanks @ciaranschutte !

[2019-10-16 15:55] #721 closed

[2019-10-16 17:52] rosibaj commented on #652
@hlminh2000 There are a few UI issues noted in the Google doc, but overall the Upload is working and errors _are_ going to the correct tabs/notifications so i am going to close this ticket.

Looking amazing :)

[2019-10-16 17:52] #652 closed

[2019-10-16 17:56] rosibaj commented on #659
@hlminh2000 A couple notes:
- Can the fields in the TSV please be in the same order as the UI table?
- Can we please maintain the same headers as the UI table in the TSV? The downloaded tsv headers are different.
- Can you fix this typo?
![image](https://user-images.githubusercontent.com/15824252/66945189-9d47f500-f01c-11e9-9922-114ffb4cce98.png)

[2019-10-16 18:03] rosibaj commented on #632
Tested on Chrome and Firefox Windows 10

When i am signed into a single gmail, i am still prompted to login with another account!

Thanks for the quick fix @andricDu!!!!

[2019-10-16 18:03] #632 closed

[2019-10-16 18:05] #660 closed

[2019-10-16 18:12] rosibaj commented on #655
Note about this point :

Note: if validation takes less than 2 seconds, force the loader to show just so the user know it worked.

We will do animation work later, but at a minimum we should add a toast here.

[2019-10-16 18:12] rosibaj commented on #655
Looks amazing! thanks @hlminh2000 !!

[2019-10-16 18:12] #655 closed

[2019-10-16 18:38] rosibaj commented on #664
@d8660091 This is starting to look good, but I'm noticing a few things that I think we need to talk about. For example:

- [ ] ![image](https://user-images.githubusercontent.com/15824252/66946880-df266a80-f01f-11e9-91a1-6e021e39efc2.png)
- [ ] ![image](https://user-images.githubusercontent.com/15824252/66947227-84414300-f020-11e9-98de-5dddcc5777c0.png)

I scheduled a meeting for Friday so @kcullio

[2019-10-18 14:26] #710 closed

[2019-10-18 14:40] rosibaj commented on #384
@blabadi do we need to do this still?

[2019-10-18 14:44] blabadi commented on #384
No, there is no secrets for maestro @rosibaj

[2019-10-18 15:24] rosibaj commented on #384
thanks @blabadi !!

[2019-10-18 15:24] #384 closed

[2019-10-18 18:54] #664 closed

[2019-10-18 20:20] rosibaj commented on #533
Closing as looks to be a duplicate:
https://github.com/icgc-argo/platform-ui/issues/744

[2019-10-18 20:20] #533 closed

[2019-10-18 21:15] ciaranschutte commented on #678
@hlminh2000 @andricDu
## Problem
User is not redirected based on permissions.
e.g. a non DCC user has no permission for `/submission/program`, they should be redirected to `user`, instead they are still redirected to `/submission/program` with a 401 banner.
Not sure why this specific ended up back at root page.

## Steps to reproduce
1. from root page navigate to `${root}/submission/program`, url

[2019-10-18 21:32] hlminh2000 opened #766 "🔧 Package.json name update"
Update the `name` field of `package.json` and `package-lock.json`

## Detailed Description
- The value should be `argo-platform-ui`
- Should be applied to both `package.json` and `package-lock.json`

[2019-10-18 21:36] hlminh2000 opened #767 "🔥 Remove .flowconfig"
We have migrated from Flow to Typescript, so `.flowconfig` is no longer needed.

## Detailed Description
- remove the file `.flowconfig`

[2019-10-18 21:42] hlminh2000 opened #768 "📝 Update readme with dev commands"
Provide updated list of commonly used commands and description for each in the "Setup / Dev commands" section in readme.

## Detailed Description
Commands of interest:
- `npm run dev`: starts local dev server. (remove the reference to the custom server as we no longer have one.
- `npm run build`
- `npm run storybook`
- `npm run build-storybook`

[2019-10-18 22:41] pruthvigh commented on #768
Hi, I can work on this.

[2019-10-18 23:07] pruthvigh commented on #766
Hi, I am working on this too.

[2019-10-22 14:03] rosibaj opened #779 "User Flow: Sidebar Status Icons"
Register sample sidebar status icons isn't implemented
- [x] No registration in Progress
https://app.zeplin.io/project/5a69fad2bde6330a929157fd/screen/5d42efceffd0028848d676ca
- [ ] File failed to upload OR errors in file
https://app.zeplin.io/project/5a69fad2bde6330a929157fd/screen/5d51d3f94718c6523501722c
- [x] In progress (successful upload)
https://app.zeplin.io/project/5a69fad2bde6330a929157f

[2019-10-22 14:05] rosibaj opened #780 "User Flow: Download Errors"
register sample error report download isnt implemented

![image](https://user-images.githubusercontent.com/15824252/67295844-aec64c80-f4b5-11e9-92cb-e6d32d2b0439.png)

talk to @hlminh2000 to see how he did it for clinical

[2019-10-22 17:25] rosibaj commented on #742
lgtm!  Thanks @d8660091 !!!

[2019-10-22 17:25] #742 closed

[2019-10-22 17:27] rosibaj commented on #687
@ciaranschutte Looks amazing!!!!! thanks so much!

[2019-10-22 17:27] #687 closed

[2019-10-22 17:30] rosibaj commented on #735
@ciaranschutte LGTM!  the weird table optical illusion with the borders looks much better now!
thank you!!

[2019-10-22 17:30] #735 closed

[2019-10-22 17:30] #747 closed

[2019-10-22 18:13] rosibaj commented on #717
@jaserud lgtm!!!! I see the time with the file upload now, and the time is correctly reflected.

[2019-10-22 18:13] #717 closed

[2019-10-22 18:28] rosibaj commented on #746
- [ ] Schema errors should show in tabs as a `!` icon.
![image](https://user-images.githubusercontent.com/15824252/67317448-12617180-f4d8-11e9-89f0-0167df2cd6af.png)
![image](https://user-images.githubusercontent.com/15824252/67317418-05dd1900-f4d8-11e9-8945-3326657ce647.png)

[2019-10-22 18:37] rosibaj commented on #659
@hlminh2000 changes look great thank you!!

[2019-10-22 18:37] #659 closed

[2019-10-22 18:46] rosibaj commented on #657
@hlminh2000 Looks amazing!!!!!!!!!!!!!! 🎨 💯 🎉

[2019-10-22 18:46] #657 closed

[2019-10-22 19:03] rosibaj commented on #731
@ciaranschutte looks great now! thank you!

[2019-10-22 19:03] #731 closed

[2019-10-22 19:15] rosibaj commented on #651
@hlminh2000 moving back to in progress as its not working atm (pending update from `all.zip`

[2019-10-22 19:20] rosibaj commented on #718
@hlminh2000 this looks great!

[2019-10-22 19:20] #718 closed

[2019-10-23 13:43] kcullion opened #788 "Program Member Sidebar: should have My Programs item (uncollapsable)"
When logged in as a program member, the sidebar looks like this:
![Screen Shot 2019-10-23 at 9 42 18 AM](https://user-images.githubusercontent.com/18424138/67399070-ad5e5800-f579-11e9-8205-5956fcb328bc.png)

But I should see the My Programs item with icon, as the icon will stay when the sidebar is collapsable. This "My Programs" item doesn't need to be collapsable like with the DCC account, as the

[2019-10-23 18:27] andricDu commented on #382
There is a problem regarding how we initialize the databases with helm. Currently blocked by this for the Song chart.

[2019-10-23 18:33] kcullion opened #790 "Clinical Submission: Tab to load after uploading files"
Different cases when uploading clinical files:

- [ ] When a user uploads 1 clinical file - open the corresponding tab with that file loaded

When a user uploads more than one clinical file at a time
- [ ] a. if there are one or more files with errors, load the first tab in the list that contains errors
- [ ] b. if there are no files with errors, load the first tab in the list for the correspondin

[2019-10-24 08:59] thesanjeevsharma commented on #671
Hello, Can I take this issue?

[2019-10-24 13:02] hlminh2000 opened #793 "Get planning snack"
## Detailed Description

This is important because the team is important.

## Possible Implementation
Some Uncle Tets? I dunno...

[2019-10-24 13:57] rosibaj opened #794 "Add reopen button for Data Submitters"
- [x] Add "Reopen Submission" button for data submitters & program admins: https://zpl.io/VK6R0ZR

- [x] Implement a reopen confirmation modal: https://zpl.io/29znpQB
![Screen Shot 2019-10-24 at 2 55 47 PM](https://user-images.githubusercontent.com/18424138/67516279-64d49680-f66e-11e9-8823-e724a3c652cb.png)

[2019-10-24 14:02] rosibaj opened #795 "Clinical UI fixes"
![image.png](https://images.zenhubusercontent.com/5a06111e8a75884b9086f5d8/428d2746-bef8-4c55-ab40-3224950e7593)

[2019-10-24 14:06] rosibaj opened #796 "Clinical UI fixes"
![image](https://user-images.githubusercontent.com/15824252/67493462-e82dc200-f645-11e9-81b8-2a2402888cfe.png)

[2019-10-24 14:08] rosibaj opened #797 "Program Service blocking transactions"

[2019-10-24 14:12] rosibaj opened #798 "🐛 Validate button should be disabled in state `VALID`"
## Describe the bug

![image](https://user-images.githubusercontent.com/15824252/67494084-abae9600-f646-11e9-9ac7-eb0a9149aa56.png)

## Steps To Reproduce

Steps to reproduce the behaviour:
1. click validate on a valid data stat
2. see that the button stays valid'
r

## Expected behaviour
When the state is `valid` the validate button should be disabled

[2019-10-24 14:18] rosibaj opened #799 "Table Overflow Issues"
![image.png](https://images.zenhubusercontent.com/5a06111e8a75884b9086f5d8/f927ca06-11aa-45fb-b5f0-d56b8b16752f)

-

[2019-10-24 14:21] rosibaj opened #800 "Star State before validation"
Before the user validates their submission
- [x] the counts should show the total number of rows (if file is uploaded)
- [x] The counts should NOT show 0 in the legend
- [x] The star part of the legend should be faded out

Expected state:
![Screen Shot 2019-10-24 at 10 29 27 AM](https://user-images.githubusercontent.com/18424138/67495621-2e385500-f649-11e9-9db0-6f309a2a7155.png)

- [x] The star co

[2019-10-24 14:38] #654 closed

[2019-10-24 14:40] #651 closed

[2019-10-24 14:47] #739 closed

[2019-10-24 15:26] hlminh2000 opened #803 "Persist Apollo client through navigation and remove prefetch"
This will fix navigation mysteriously freezing:

Sometimes when navigating with any of the links in the side bar, the page mysteriously freezes. This is because it is trying to fetch the program listing for the new page's side bar before it redirects, and that can sometimes take a while. Persisting the Apollo client and removing prefetch will prevent this from happening.

Things to do:
- Put Apoll

[2019-10-24 15:44] rosibaj opened #804 "Add clear to the clinical submission"
- clear on files
- clear on whole submission
- add success and failure toasts

[2019-10-24 15:48] rosibaj commented on #799
- [ ] develop a technical plan to deal with the table
-- either upgrade
-- switch components
- [ ] timebox to 2 days

[2019-10-24 15:58] kcullion opened #805 "Clinical Submission: Persist tab on refresh"
When the user refreshes their screen, they should stay on the tab they had loaded

- add tab value to url

[2019-10-24 16:05] rosibaj commented on #671
@thesanjeevsharma you can try this.  Ask  @hlminh2000 if you have issues :)

[2019-10-24 16:24] rosibaj opened #806 "System Diagram for Overture as a grant"
pretty diagrams pls

[2019-10-25 20:24] rosibaj commented on #594
Tested on qa - Not working.  When i click the invite i get this:
![image](https://user-images.githubusercontent.com/15824252/67602101-ecd8a000-f743-11e9-8aa4-de2a109d2fd9.png)

[2019-10-28 13:16] rosibaj commented on #594
@d8660091  I tested again this morning - The email works, but i am still seeing these issues:
- [ ] 1)  ![image](https://user-images.githubusercontent.com/15824252/67680537-cee88680-f961-11e9-9951-d1ec2df4c836.png)
- [ ] 2) When i have seleted the wrong email address it should stay selected on step one, and there should also be a login button for me to retry.
![image](https://user-images.githubuse

[2019-10-28 15:27] rosibaj commented on #627
Closing this as a new join program flow was implemented that should cover this scenario.

[2019-10-28 15:27] #627 closed

[2019-10-28 15:31] #599 closed

[2019-10-28 17:38] andricDu commented on #797
Deployed to QA
Was testing successfully in DEV

[2019-10-28 17:50] joneubank opened #822 "🐛 Sidebar Scrolling is "sticky""
## Describe the bug
On the all programs screen, when you scroll down the sidebar it will stop scrolling after a moment of scrolling. If you keep attempting to scroll it will continue scrolling down after a brief pause, but then stop again after the same short distance.

## Steps To Reproduce

Steps to reproduce the behaviour:
1. Go to All Programs
2. Use mouse wheel to scroll sidebar
3. Notice how

[2019-10-28 18:52] rosibaj commented on #738
tested in FF - the offset is no longer happening.  Thank you @d8660091 !!

[2019-10-28 18:52] #738 closed

[2019-10-28 20:34] andricDu commented on #382
I'm marking this as blocked until we can resolve the issue with bootstrapping a database with credentials.

[2019-10-28 20:36] rosibaj commented on #594
One issues still:
- [ ]
![image](https://user-images.githubusercontent.com/15824252/67708763-15a2a480-f993-11e9-8940-73ccdeff6e12.png)

[2019-10-29 18:09] hlminh2000 commented on #794
this has been addressed as part of https://github.com/icgc-argo/platform-ui/issues/719

[2019-10-29 20:12] rosibaj commented on #382
Future work:
- @henro001 to help provide plan for vault to provision postgres credentials (short-lived)

[2019-10-29 20:12] #382 closed

[2019-10-29 20:16] rosibaj opened #827 "Remove pw dependcy from deploys somehow"
- [ ] Helm charts for song needs to be rewritten to NOT include un/pw in plain text
- [ ] Helm charts for ego needs to be rewritten to NOT include un/pw in plain text
- [ ] Helm charts for program-service needs to be rewritten to NOT include un/pw in plain text

must be done before production release

[2019-10-30 15:02] rosibaj commented on #798
tested - button is disabled after successful validation!

[2019-10-30 15:02] #798 closed

[2019-10-30 15:04] rosibaj commented on #689
tested- able to successfully see teh newly created program in the left sidebar after creation.

[2019-10-30 15:04] #689 closed

[2019-10-30 17:38] rosibaj commented on #790
@hlminh2000 this looks great! thank you!

[2019-10-30 17:38] #790 closed

[2019-10-30 17:39] rosibaj commented on #803
havent seen any weird freezes! thanks @hlminh2000 !

[2019-10-30 17:39] #803 closed

[2019-10-30 17:53] rosibaj commented on #594
@d8660091 were you able to address this issue ^?

[2019-10-30 18:42] hlminh2000 commented on #799
Fixing overflow issue turned out to be not bad so I went ahead and did it in PR.
If the solution is good, I think we can discuss exploring new table implementation separately (could be now as there's still time in sprint).

[2019-10-31 19:07] kcullion opened #837 "Join a Program fixes"
- [x] please make the picture have the same rounded corners as the white container

- [x] Can you make the following updates to step 2:
![Screen Shot 2019-10-31 at 3 24 22 PM](https://user-images.githubusercontent.com/18424138/67979400-8abfe500-fbf2-11e9-9ad8-b92a39376218.png)

- [x] the department field should not be required
![Screen Shot 2019-10-31 at 3 25 52 PM](https://user-images.githubuserc

[2019-10-31 19:09] #594 closed

[2019-10-31 19:10] rosibaj commented on #606
lgtm! Thank you @d8660091

[2019-10-31 19:10] #606 closed

[2019-10-31 19:11] rosibaj commented on #743
lgtm thanks @d8660091 !!!

[2019-10-31 19:11] #743 closed

[2019-10-31 19:13] rosibaj commented on #780
@ciaranschutte looks like one column is missing in the download tsv:
![image](https://user-images.githubusercontent.com/15824252/67978619-eee1a980-fbf0-11e9-97ec-8208307707e7.png)

Moving back to in progress so that can be added

[2019-10-31 19:26] rosibaj commented on #800
@hlminh2000 one thing:
- [ ] The counts should NOT show 0 in the legend when not validated
![image](https://user-images.githubusercontent.com/15824252/67979018-d58d2d00-fbf1-11e9-8dda-5e05d7939c5a.png)

[2019-10-31 19:28] rosibaj commented on #799
@hlminh2000 this looks good for now!

[2019-10-31 19:28] #799 closed

[2019-10-31 19:30] rosibaj commented on #796
lgtm thanks @hlminh2000!!!

[2019-10-31 19:30] #796 closed

[2019-10-31 20:10] kcullion opened #839 "GDPR Compliance message"
Build the Cookies message.

See specs here: https://wiki.oicr.on.ca/display/icgcargotech/GDPR+Complicance

Design in Zeplin: https://zpl.io/VY1gvXe

When the user clicks the "OK" button - the messages closes (animation slide up)
Privacy Policy links to: /privacy

[2019-11-04 17:59] rosibaj commented on #794
@hlminh2000
- [ ]  Can you please style the button as the link style for non-dcc members:
![image](https://user-images.githubusercontent.com/15824252/68144959-b862a200-ff02-11e9-92df-862b4c5c806b.png)

[2019-11-04 17:59] rosibaj commented on #729
@ciaranschutte lgtm!  Thank you!!!

[2019-11-04 17:59] #729 closed

[2019-11-04 18:06] rosibaj commented on #837
I cannot join a program without filling in  department:
![image](https://user-images.githubusercontent.com/15824252/68145400-b3eab900-ff03-11e9-8d49-0092166e6c25.png)

This is the errors:
[code]

@kcullion suggested department should not be required, so Xu removed the red star in the ui
but it actually is required as joining is successful after filling it in.

Wee should make this required/not-req

[2019-11-04 18:20] rosibaj commented on #800
@hlminh2000 Looks amazing! Thank you!!!!

[2019-11-04 18:20] #800 closed

[2019-11-04 18:30] rosibaj commented on #719
@hlminh2000 couple small things:
- [ ] status view in dcc
 ![image](https://user-images.githubusercontent.com/15824252/68146733-a2ef7700-ff06-11e9-8563-65ce0b784365.png)

- [ ] fix reopen modal text
![image](https://user-images.githubusercontent.com/15824252/68146793-b7cc0a80-ff06-11e9-835c-af106bec703f.png)

[2019-11-04 18:46] #745 closed

[2019-11-04 19:00] rosibaj opened #847 "Text wrapping in error tables"
![image.png](https://images.zenhubusercontent.com/5a06111e8a75884b9086f5d8/ee6da56f-2c0b-4e01-b34c-182ba9bec876)

[2019-11-05 19:19] #806 closed

[2019-11-05 19:59] ciaranschutte commented on #779
@kcullion @rosibaj the commit registration icon is messy to do just for the second it will be on screen. after talking with @hlminh2000 we think it might be best to leave it out

[2019-11-05 20:01] ciaranschutte commented on #779
@hlminh2000 to show the error icon on invalid file there's some refactoring to do it right.
currently if there is an invalid file our api returns a `ClinicalRegistrationInvalid` type with the error.

I think we should just add this to the `clinicalRegistrationData`
we can then simplify the api logic and the side menu status will work just from reading the cache.

[2019-11-05 20:05] kcullion commented on #779
@ciaranschutte do you mean the checkmark green icon? If so, that's fine

[2019-11-05 20:05] ciaranschutte commented on #779
@kcullion yes - cool cool :)

[2019-11-05 20:06] hlminh2000 commented on #779
ok :) thanks @ciaranschutte! Adding `ClinicalRegistrationInvalid` to `clinicalRegistrationData` makes sense to me, that'd be consistent with submission as well and simplifies a lot of things.

[2019-11-05 20:21] rosibaj commented on #779
@hlminh2000 @ciaranschutte sounds good- lets check with @joneubank re comments on changes

[2019-11-05 20:48] rosibaj commented on #719
@hlminh2000 looks magical!!! tysm!

[2019-11-05 20:48] #719 closed

[2019-11-05 20:48] rosibaj commented on #794
looks great! thanks @hlminh2000 !!

[2019-11-05 20:48] #794 closed

[2019-11-05 21:44] rosibaj commented on #631
Resolved in https://github.com/icgc-argo/platform-ui/issues/606

[2019-11-05 21:44] #631 closed

[2019-11-05 22:27] rosibaj opened #853 "Error state in registration side bar"
File failed to upload OR errors in file
https://app.zeplin.io/project/5a69fad2bde6330a929157fd/screen/5d51d3f94718c6523501722c

[2019-11-05 22:28] rosibaj commented on #779
Error state moved tohttps://github.com/icgc-argo/platform-ui/issues/853

[2019-11-06 22:33] ciaranschutte commented on #788
Fixed collapsible here https://github.com/icgc-argo/platform-ui/pull/863 not deployed yet (Wed 5.30)

[2019-11-06 22:55] jaserud commented on #804
Note that you can still clear submission even if it is empty, because in backend the submission still exists. will be fixed after https://github.com/icgc-argo/argo-clinical/issues/205

[2019-11-06 23:52] rosibaj commented on #779
@ciaranschutte looks amazing!

[2019-11-06 23:52] #779 closed

[2019-11-06 23:54] rosibaj commented on #780
@ciaranschutte lgtm! thank you!!!!

[2019-11-06 23:54] #780 closed

[2019-11-06 23:56] rosibaj commented on #837
This is working correctly now.  Thanks @hlminh2000 !!!

[2019-11-06 23:56] #837 closed

[2019-11-06 23:57] rosibaj commented on #788
@ciaranschutte understand about #863 - otherwise this looks great so i will close.

Thank you so much!!!!

[2019-11-06 23:57] #788 closed

[2019-11-07 00:03] rosibaj commented on #804
👍
- clear whole submission is working
- clearing individual files is _not_ working.  I get no response on the ui (should at least get an error toast.  Seeing this error:
[code]

[2019-11-07 13:54] kcullion commented on #788
@rosibaj if the collaborator just sees the dashboard, should we hide the entire sidebar for them?

[2019-11-07 15:16] #793 closed

[2019-11-07 15:18] #730 closed

[2019-11-07 15:24] rosibaj opened #867 "Fix Registration Table overflow issues"
- sticky header does not scroll right/left
- fix table view by removing sticky header.
-

[2019-11-07 16:34] rosibaj opened #868 "Hover on side bar"
continuation of #

- [ ] Like zenhub example. when the sidebar is closed the user can hover over the closed area to slide the sidebar open for use. I slides over the content then closes when the user's mouse is off of the sidebar.
Hover:  https://zpl.io/a8JgZqx
![Screen Shot 2019-09-27 at 1 21 33 PM](https://user-images.githubusercontent.com/18424138/65788786-dd0c7280-e129-11e9-9c70-745518ee791e.p

[2019-11-07 16:50] rosibaj opened #869 "Breaking change Validation: Scripts"

[2019-11-07 16:51] rosibaj opened #870 "Add breaking change validations: Regular Expressions"

[2019-11-07 17:14] rosibaj opened #871 "Fix failing selenium tests"
- E2E testing is not passing
- Tests need to be updated.

## Exit Criteria
- Jenkins dashboard is visible to the team
- Identify problems after https://github.com/icgc-argo/program-service/issues/267
- Ticket any issues identified

[2019-11-07 19:42] rosibaj commented on #788
recording - discussed in planning.  we will not change this as its not urgent right now.

[2019-11-07 21:52] hlminh2000 opened #874 "Update docker-compose"
- add `argo-clinical` and `lectern` to `docker-compose` in the UI
- set up the right seed data

Why?
- When collab is down for whatever reason, a lot of development work is limited because we don't have an environment to work against. This has happened many times recently.
- Once we actually have this local environment working, it is encouraged that we use this environment for local development to

[2019-11-08 15:24] kcullion commented on #730
This looks good @rosibaj, thanks @ciaranschutte !

[2019-11-08 16:27] kcullion opened #876 "Vertical Tabs: min-height"
The vertical tab needs a min-height so the arrow doesn't look strange when there is no badge in the tab:
![Screen Shot 2019-11-08 at 11 27 20 AM](https://user-images.githubusercontent.com/18424138/68493643-d4c05080-021a-11ea-9708-6297e596dc4c.png)

[2019-11-08 19:14] kcullion opened #877 "Data Submitter: show update diffs on submission validation"
It would be helpful to see the updated diff rows shaded when a data submitter validates a submission.

So like this: https://zpl.io/boPqBQG - where they see the updated value(s)- but we don't need to reorder the rows for them in this case.

![Screen Shot 2019-11-08 at 2 15 29 PM](https://user-images.githubusercontent.com/18424138/68504380-db5ac200-0232-11ea-9057-5cd6eaff957e.png)

[2019-11-08 20:57] rosibaj opened #878 "🐛 Users cannot generate tokens"
## Describe the bug
User cannot generate tokens - when they click the button it spins forever.
## Steps To Reproduce

Steps to reproduce the behaviour:
1. Login as a user with USER role:
![image](https://user-images.githubusercontent.com/15824252/68509800-d3ede580-023f-11ea-8bdd-9c4a81ff3c8b.png)
2. Go to the user profile page and click "Generate" to generate a token
3. The button will spin foreve

[2019-11-12 18:42] rosibaj opened #882 "Publish UI kit as npm package for dictionary"

[2019-11-12 19:09] rosibaj commented on #628
Discussion in grooming - user the light solution to edit the UI to prevent this
- ensure at least 1 admin
- don't remove yourself

[2019-11-13 17:15] #874 closed

[2019-11-13 21:19] kcullion opened #888 "Footer fixes: text width and footer location"
- [x] this content can be a bit wider to accommodate for more content so it spans 2 lines instead of 3
<img width="434" alt="Screen Shot 2019-11-13 at 4 20 16 PM" src="https://user-images.githubusercontent.com/18424138/68805367-b5b62a00-0631-11ea-87fd-c8eb4326e2a7.png">

If there isn't much content on the page, the user shouldn't have to scroll down to the footer, it can stick to the bottom of the

[2019-11-13 22:09] kcullion opened #889 "Program Table: pencil icon should link to edit program"
Currently these both link to program users.

The pencil should open the edit program tab
![Screen Shot 2019-11-13 at 4 51 23 PM](https://user-images.githubusercontent.com/18424138/68808770-6e7f6780-0638-11ea-9e56-9885f4740050.png)

[2019-11-14 15:01] kcullion opened #892 "User menu item: active state"
When the user is on the Profile & Token page, the user menu item should be in it's active state
![Screen Shot 2019-11-14 at 10 01 17 AM](https://user-images.githubusercontent.com/18424138/68868573-c6b07b00-06c5-11ea-87a6-97949bcc29af.png)

[2019-11-14 21:40] rosibaj commented on #804
individual clears are working now! thanks @jaserud !!!

[2019-11-14 21:40] #804 closed

[2019-11-14 21:41] rosibaj commented on #805
@hlminh2000 looks great!  working perfectly :) Thank you!

[2019-11-14 21:41] #805 closed

[2019-11-14 21:52] kcullion opened #895 "Register Samples section: buttons broken"
Sometimes this user dropdown does not appear when clicking on the user name. And the templates and upload files buttons don't work.

I notice it when I'm in the register Samples section of a program, that doesn't have a
 registration in progress but has the ... in the sidebar
![Screen Shot 2019-11-14 at 5 04 01 PM](https://user-images.githubusercontent.com/18424138/68899946-c71a3780-0700-11ea-9832

[2019-11-14 22:17] rosibaj commented on #847
@hlminh2000 this looks to be working great :) Thank you!

[2019-11-14 22:17] #847 closed

[2019-11-14 22:18] rosibaj commented on #876
this looks to be fixed! Thanks @ciaranschutte !!

[2019-11-14 22:18] #876 closed

[2019-11-14 22:21] rosibaj commented on #867
lgtm - thanks @hlminh2000 !!!!

[2019-11-14 22:21] #867 closed

[2019-11-15 13:45] kcullion opened #896 "Templates: Rename Clinical zip file"
To make it more clear from the clinical submission section (and eventually for the dictionary)
rename this zip file to argo_clinical_templates

![Screen Shot 2019-11-14 at 4.48.58 PM.png](https://images.zenhubusercontent.com/5a5f5bcd4b5806bc2bc31a86/8e214a61-cde5-454e-a727-a0350c75296f)

[2019-11-18 20:06] kcullion opened #902 "Invalid File message"
Currently the error message when a file is named incorrectly is:

![image](https://user-images.githubusercontent.com/15824252/70647104-3c9cf900-1c16-11ea-897a-5a274f523328.png)

**Change this to:**

Improperly named files cannot be uploaded or validated. All files must start with the corresponding entity name and have the .tsv extension (e.g. donor<_optional_extension>.tsv).

[2019-11-18 20:20] kcullion opened #903 "Error message for submission workspace"
Currently when I validate my submission, in this case I only have errors in my files
![Screen Shot 2019-11-18 at 3 19 14 PM](https://user-images.githubusercontent.com/18424138/69090719-0b664a00-0a17-11ea-99bb-235ec8db28c8.png)

But the instructions say: _Your submission cannot yet be signed off and sent to DCC. Please correct the following errors and reupload the corresponding files._

I think we

[2019-11-18 20:25] hlminh2000 opened #904 "Loading state in program join form"
When we click on "Join Now" in the form, nothing is indicating that something is happening. Let's add a loading screen to indicate this.

## Detailed Description
- Our local testing feels much faster than when it is run from the test because we are always operating from within the network. (could be why https://github.com/icgc-argo/e2e-test/issues/14 is happening)
- In the wild, it is likely to lo

[2019-11-18 20:27] hlminh2000 commented on #871
a couple tickets resulting from this:
- https://github.com/icgc-argo/e2e-test/issues/13: Firefox tests are not working (could be a bug in dependency - `geckodriver`)
- https://github.com/icgc-argo/e2e-test/issues/14: The test always fails at the last confirmation of joining programs, even though the program is created successfully. We may also want to improve the user experience there with a loade

[2019-11-18 20:48] kcullion opened #905 "Add Script Based Error Validations to Dictionary"
A donor should not be able to be recorded as Alive and also have the other two fields (cause_of_death and survival_time) filled out
-- cause_of_death dependant on vital_status
This submission would go through:
![Screen Shot 2019-11-18 at 3 49 31 PM](https://user-images.githubusercontent.com/18424138/69092736-0a371c00-0a1b-11ea-89ff-b9d9657f84f4.png)

[2019-11-18 21:04] hlminh2000 opened #906 "Standardized page loading state"
We do not have standard page-wide loading state atm. I think this is needed both for consistency and blocking potential bugs.

## Detailed Description
- **Consistency:** most of our pages have some ultimate final action. The loading state for these actions are not very consistent (program creation, clinical submission, registration, etc... all have different loading state).
- **The bug prevention:

[2019-11-18 21:15] kcullion opened #907 "Toaster when a clinical submission is successful"
- [ ] Implement a toaster when a clinical submission has been successfully signed off (i.e. does not require update approval)

Zeplin: https://zpl.io/aRXpjYe

![Screen Shot 2019-11-18 at 4 16 33 PM](https://user-images.githubusercontent.com/18424138/69094658-ce9e5100-0a1e-11ea-8fb2-a84a151f4c4d.png)

For confirmation when signing off a submission, it is not the case that the clinical data will be

[2019-11-18 21:53] hlminh2000 opened #909 "Clinical Registration upload loading state"
There is no loading state atm. The UI feels like it froze.

## Detailed Description
- Needs a small loading state.
- Network latency will probably amplify the effect in the wild

## Possible Implementation
Can do something like the button loading state in clinical submission.

[2019-11-18 21:54] kcullion opened #910 "Add border to shaded updates rows"
It's hard to distinguish the two rows that go together when displaying updates in the table>

![Screen Shot 2019-11-18 at 4 56 23 PM](https://user-images.githubusercontent.com/18424138/69097346-5f2b6000-0a24-11ea-9cf7-761a2fdd8a12.png)

Please update the border after every diff pair:
https://zpl.io/boPqBQG

[2019-11-19 14:34] rosibaj commented on #905
This should be a script based validation - It has not been written yet. adjusting ticket to reflect need for script based items

[2019-11-19 14:48] kcullion opened #911 "Welcome message: the dismiss doesn't work"
The welcome message has an "x" to dismiss it from the dashboard, but it doesn't actually close the banner.

![Screen Shot 2019-11-19 at 9.47.41 AM.png](https://images.zenhubusercontent.com/5a5f5bcd4b5806bc2bc31a86/b27389dc-48e7-4d91-892d-baebf903465c)

[2019-11-19 14:58] rosibaj commented on #871
@hlminh2000 regarding `cleaning up dev data` - I thought the tests would have a step to set, run, and reset data to an appropriate data set from snapshots.

Is that not happening?

[2019-11-19 15:01] hlminh2000 commented on #871
The nightly test pipeline is, but there is dirty data inserted by day-to-day Dev work too, plus local test runs. If we could have a way to apply QA data to Dev that'd work best.

[2019-11-19 15:02] kcullion opened #912 "Clear Submission confirmation message"
Change the wording of this message to

"All uploaded clinical files have been cleared"

![Screen Shot 2019-11-19 at 10 01 35 AM](https://user-images.githubusercontent.com/18424138/69158044-cfcd8d80-0ab3-11ea-9328-e0f94a741c52.png)

[2019-11-19 15:40] kcullion opened #913 "Sidebar: only show the search programs if DCC"
There is no need for a search box if a user is not DCC. They likely won't belong to a ton of programs that would be a scrollable list.

I think we can hide this searchbox when not DCC
![Screen Shot 2019-11-19 at 10.39.51 AM.png](https://images.zenhubusercontent.com/5a5f5bcd4b5806bc2bc31a86/ba53d76d-b408-481a-b0c4-29581506c481)

[2019-11-19 15:41] jaserud opened #914 "🐛 Mismatch index in error report for UI and tsv"
## Describe the bug
Index in error reports doesn't match the one presented in UI. This occurs for both sample_registration and clinical submission

## Steps To Reproduce

Steps to reproduce the behaviour:
1. Go to clinical submission for a program
2. Upload file with known validate errors
3. Click validate and look at error report table in UI
4. download error report and look at report in tsv

In

[2019-11-19 16:28] blabadi commented on #617
![image.png](https://images.zenhubusercontent.com/5c99083bd2fde800015cf9fa/a6caac93-0449-4fe6-baa0-438c0a54177c)

[2019-11-19 16:30] blabadi commented on #617
this is not a vault change, we should avoid using vault for non secret configs since it's harder to keep track of who and what changed there vs using the argo-infra helm values that are tracked.

anyway ready for QA !

[2019-11-19 16:34] ciaranschutte commented on #895
@kcullion looks like stale data issue. can't recreate. clearing old data seemed to solve it.

[2019-11-19 16:34] #895 closed

[2019-11-19 17:20] rosibaj commented on #617
@blabadi noted - we discused that it was a vault config in planning.  i will change the description.

[2019-11-19 17:29] rosibaj commented on #871
@hlminh2000 should we just reset dev data to qa regularly, say once a week with a pipeline to do that?

[2019-11-19 18:14] hlminh2000 commented on #871
I think that make sense, but would like to decide with the team :)
either way, I think we should have the ability to do that whether automated or with a manual trigger

[2019-11-20 15:06] kcullion opened #919 "User table: hook up the DACO Approved column of the user table"
- [x] Change the heading of this table column to "DACO Approved"

- [ ] Hook up the column with DACO approval status
![Screen Shot 2019-11-20 at 10 08 11 AM](https://user-images.githubusercontent.com/18424138/69250477-b98c0400-0b7d-11ea-8c96-040d33cee999.png)

Technical back-end spec: Program service needs to provide this information from ego using its application API token. The gateway will read

[2019-11-20 15:12] kcullion commented on #617
Do we also have to change the frontend?
![Screen Shot 2019-11-20 at 10 12 05 AM](https://user-images.githubusercontent.com/18424138/69250748-420aa480-0b7e-11ea-90a8-39698283b3f7.png)

[2019-11-20 15:13] rosibaj commented on #617
@kcullion if you regenerate your token, what does it say?

[2019-11-20 15:14] kcullion commented on #617
@rosibaj it says 30:) ooops

[2019-11-20 15:52] #617 closed

[2019-11-20 16:03] hlminh2000 commented on #882
mostly the challenging part is how to package the dependencies for the package.

[2019-11-20 20:17] rosibaj commented on #300
@ciaranschutte this looks amazing! thank you!!!!

[2019-11-20 20:17] #300 closed

[2019-11-20 20:17] rosibaj commented on #889
tested looks amaizng! thanks @ciaranschutte !!!!!

[2019-11-20 20:17] #889 closed

[2019-11-20 20:20] rosibaj commented on #853
@ciaranschutte looks amazing yet again!!! Thanks so much!!

[2019-11-20 20:20] #853 closed

[2019-11-20 20:27] rosibaj commented on #911
much dismiss - the x works now!  Thanks @ciaranschutte !!!

[2019-11-20 20:27] #911 closed

[2019-11-20 22:33] rosibaj opened #924 "Remove: Clear on clinical submission validation errors"
-  [ ] Remove the clear on validation errors.
![image.png](https://images.zenhubusercontent.com/5a06111e8a75884b9086f5d8/009afecf-9327-4374-8c49-5f460ab04cdb)

[2019-11-21 15:11] #871 closed

[2019-11-21 15:12] kcullion opened #925 "Bug or old data? Sometimes the "Joined on" column isn't filled out"
Sometimes the user is approved but the joined on date isn't filled out
<img width="1431" alt="Screen Shot 2019-11-21 at 10 11 29 AM" src="https://user-images.githubusercontent.com/18424138/69350429-8ada6000-0c47-11ea-8dad-0f0a8f57724b.png">

[2019-11-21 16:52] akachru-github commented on #914
- TSV line number will be presented in the UI. We should be able to jump from row number in the UI to the original TSV.
- Line 1 is reserved for the header. Numbering will start at 2.
- Change column header from "Row #" => "Line #"

[2019-11-21 16:58] akachru-github commented on #924
After discussion, decided to remove the clear altogether.

[2019-11-21 17:05] kcullion commented on #628
@rosibaj from a UI point of view - maybe we can disable the delete icon and have a tooltip on hover saying "A program must have at least one Program Administrator"

[2019-11-25 19:15] rosibaj commented on #925
@jaserud This happens when you did join, but were added directly in ego-ui.

I dont think there is anything we can do here?

[2019-11-25 19:30] #303 closed

[2019-11-25 19:31] #47 closed

[2019-11-25 21:58] hlminh2000 commented on #882
uikit now available on NPM :) https://www.npmjs.com/package/@icgc-argo/uikit

[2019-11-26 14:52] #882 closed

[2019-11-26 20:32] kcullion opened #927 "UI changes for dictionary updates: invalid submission"
When the data dictionary is updated, active submissions will be scanned and marked as OK against the new schema or NOT OK against the new schema(s)

**If a submission is marked NOT OK, then we need to**

1. Show this **Notification banner** at the top of all program sections (except clinical submission section).
- Content link goes to the dictionary landing page,
- "View" button links to the clini

[2019-11-26 20:58] kcullion opened #928 "Logo update: lighter blue in the "O""
The secretariat requested we make the "O" in the logo read more like an O by making the blue lighter.

make sure there is an alt tag as well.

![Screen Shot 2019-11-26 at 3 59 25 PM](https://user-images.githubusercontent.com/18424138/69672277-c4570500-1065-11ea-8e3c-a0f2022d43c8.png)

Please find the new logo in this zeplin mock: https://zpl.io/bzRy487

[2019-11-28 18:14] rosibaj commented on #914
lgtm!  Thanks @hlminh2000 !!

[2019-11-28 18:17] rosibaj commented on #892
state is now correctly highlighted when on user profile page!  Thanks @hlminh2000 !

[2019-11-28 18:17] #892 closed

[2019-11-28 18:18] rosibaj commented on #924
Clear is removed!  Thanks @ciaranschutte !!!

[2019-11-28 18:18] #924 closed

[2019-11-28 18:18] hlminh2000 commented on #892
it's @ciaranschutte's magic ;)

[2019-11-28 18:25] rosibaj commented on #909
button loading on upload is working correctly!  Looks great thanks @hlminh2000 !

[2019-11-28 18:25] #909 closed

[2019-11-28 18:29] rosibaj opened #938 "🐛 standardize client-size redirect mechanism"
## Describe the bug
https://drive.google.com/file/d/1g3XAaemqpHQC_MrCc4RrU-P6oInNggvX/view
- toast is lost after redirect
## Steps To Reproduce
Successfully complete a clinical submission
## Expected behaviour
1) load
2) redirect
3) toast me

[2019-11-28 19:04] rosibaj commented on #892
😱 You just look so much alike i confused you :p Thanks @ciaranschutte !!!

[2019-12-02 14:46] rosibaj opened #940 "Integrate Ego Redirect URI"
- [ ] Upgrade to latest Ego with redirect URI changes: https://github.com/overture-stack/ego/releases/tag/2.9.1
- [ ] Make the correct changes to register the correct redirect patterns in the app:
1. When a user logs in and has NO program access, take them to the user page.
1. When a user logs in and has role `DCC Admin`, take them to the program list page.
1. When a user logs in and has any progr

[2019-12-02 16:13] andricDu commented on #878
@rosibaj @hlminh2000 I cannot seem to reproduce this issue.

Using a non admin user:
[code]
I am able to generate a token as that user:

[code]

[2019-12-02 16:14] andricDu commented on #878
User JWT is passed as a Bearer Token to the API Key endpoint using the POST HTTP method.

[2019-12-02 16:18] rosibaj commented on #878
@andricDu I can replicate right now with this user on qa: `argo.programad@gmail.com`
- they are  user in ARGO QA with one program admin access
- i do not see atoken on the ui and it is spinning constantly
![image](https://user-images.githubusercontent.com/15824252/69975427-319ae800-14f5-11ea-95ec-d36fc4a65282.png)
![image](https://user-images.githubusercontent.com/15824252/69975444-3b245000-14f5-1

[2019-12-02 16:36] hlminh2000 commented on #878
I can take a look from gateway

[2019-12-02 18:02] hlminh2000 commented on #878
hmm I can't reproduce this problem on neither `dev` nor `qa`, but locally I am seeing it. Could be a problem with specific accounts? (appears to be something wrong with newly created account, as my local setup is a fresh start)

[2019-12-02 18:42] rosibaj commented on #878
@hlminh2000 ive seen this with Linda, Kim, and the test account i replicated it with above

[2019-12-02 18:52] hlminh2000 commented on #878
nvm, my personal accounts are set up as ego admin, hence it's working.
Anyways, we found that the errors are thrown during token the reading step rather than the creation step, which is working as intended. We can change the token listing to not require an admin account in ego :)

[2019-12-02 19:03] andricDu commented on #878
Turns out users can generate their own tokens, but cannot list them.

[2019-12-03 20:24] rosibaj commented on #878
Tested - with the new deploy and list changes I can both see and generate tokens as a USER.  Thanks @andricDu !!!!

[2019-12-03 20:24] #878 closed

[2019-12-03 20:34] #906 closed

[2019-12-03 20:47] rosibaj commented on #925
@jaserud Can you just check the logic for how "Approved" shows as text and make sure Program Service is not recording approves without join dates?  if that is hte case, i think we can close this.

[2019-12-03 21:26] rosibaj commented on #907
https://github.com/icgc-argo/platform-ui/issues/938

issue identified to fix her e

[2019-12-03 21:26] #907 closed

[2019-12-03 21:56] rosibaj opened #944 "Static UI: Empty State"
- [ ] Create the empty state of the program dashboard
- [ ] Make sure it is responsive now. Horizontal card at the top can stack numbers as it flows.
![Screen Shot 2019-12-09 at 3 15 11 PM](https://user-images.githubusercontent.com/18424138/70469259-b908ce00-1a96-11ea-99f7-7bb737992d38.png)

Zeplin: https://zpl.io/a7xW3DM

[2019-12-03 21:57] rosibaj opened #945 "Connect Program Workspace Status Card"
- [x] Empty State: https://zpl.io/a7xW3DM
![Screen Shot 2019-12-09 at 3 15 54 PM](https://user-images.githubusercontent.com/18424138/70469421-fbcaa600-1a96-11ea-9d56-c4c824b48f29.png)

- [x] Full State(s) show the status of the Register Samples/Clinical workspace.  This is the same progress bar as in the register/clinical submission pages.
Zeplin: https://zpl.io/V4dd110
![Screen Shot 2019-12-09 at

[2019-12-03 22:04] jaserud opened #946 "🐛 Two users appear in table in manage program"
## Describe the bug
Editing user invitation makes two users in the table, while it is in pending invitation... Deleting one invite deletes both

## Steps To Reproduce
Steps to reproduce the behaviour:
1. Go through `Add User` flow inside `Manage Program`
![image](https://user-images.githubusercontent.com/34698315/70092992-7f931700-15ed-11ea-89b9-85334fc59e37.png)

2. We see the user is pending inv

[2019-12-03 22:13] jaserud commented on #925
As you said, the only way I was able able to get `Approved` and no `Joined On` date was if I added the user to the group via Ego-UI...

[2019-12-04 14:59] rosibaj commented on #925
thanks for confirming @jaserud !

[2019-12-04 14:59] #925 closed

[2019-12-04 18:40] joneubank commented on #744
So many issues discovered here... Can't do file upload in browser, so have to generate the data and post directly to gateway. this means in registration we can't test the error case (since invalid registration data is not stored and we cant use the upload file interface). We are able to test all the success cases though, including empty state, upload, clear, and register (commit).

[2019-12-04 19:20] rosibaj commented on #744
@joneubank 👍  re: issues - perhaps that case just cannot be covered by selenium tests.  We don't really have another framework set up right now that can handle that right?

[2019-12-05 14:54] #912 closed

[2019-12-05 14:57] rosibaj commented on #903
looks great thanks @jaserud !!

[2019-12-05 14:57] #903 closed

[2019-12-05 15:12] #910 closed

[2019-12-05 15:18] #767 closed

[2019-12-05 15:43] hlminh2000 opened #950 "Add pagination to program list table"
- make the table size unlimited instead of pagination
- show all results

[2019-12-05 15:47] hlminh2000 opened #951 "Rate limit gateway"
Should this be gateway or infra?
Should we do this IP based? Limiting with complexity rather than request count?

Need this before prod :)

[2019-12-05 16:27] rosibaj opened #952 "info note on dictionary"
3. **If a program has a clinical submission that is NOT affected by dictionary changes**, then show this info message to notify data submitters that the dictionary has changed.

- First link goes to the dictionary landing page,
- second link goes to the differences tab.

![Screen Shot 2019-11-26 at 2 57 09 PM](https://user-images.githubusercontent.com/18424138/69668198-68887e00-105d-11ea-9ab7-f258

[2019-12-05 16:27] rosibaj commented on #927
note: might need to update the enum in the gateway for submission state

[2019-12-05 16:57] hlminh2000 commented on #914
we are missing the index increment in the tsv file

[2019-12-09 16:12] #744 closed

[2019-12-09 16:13] #896 closed

[2019-12-09 19:17] kcullion opened #965 "UI + gatweway changes for dictionary updates: locked program workspace"
When the data dictionary is being updated, active submissions will locked so that submissions do not continue while a migration is happening.

## Data Information

When the submission system is "locked", the submission configuration is set to  `true`, and the following updates should be visible on the submission areas.

This can be checked for the whole submission system:
![image](https://user-ima

[2019-12-09 21:39] rosibaj commented on #766
closing as this was merged.

[2019-12-09 21:39] #766 closed

[2019-12-11 18:01] #913 closed

[2019-12-13 20:00] rosibaj commented on #914
ui error message, table, and downloaded error report all now align on the same reported number.  Thanks @hlminh2000 !

[2019-12-13 20:00] #914 closed

[2019-12-13 21:16] rosibaj commented on #928
@jaserud I do not see this update on the ui
1) did it get deployed?  or 2) do i need to clear my cache somehow?

[2019-12-16 15:02] jaserud commented on #928
weird, I can see it in QA try refreshing with `Ctrl+Shift+R`

[2019-12-16 18:14] rosibaj commented on #928
hmm today i can see it!! Thanks @jaserud - looks great!

[2019-12-16 18:14] #928 closed

[2019-12-17 22:09] blabadi opened #971 "Display all possible file headers in table, even when user deleted headers from file"
## Describe the bug

the submission preview table doesn't show all fields in the schema

## Detailed Description

Kim & Rosi requested that we should display all schema fields in the submission table.
Instead of relying on parsing the first json object in submission response, use the schema fields api because clinical no longer fill all fields automatically if the user didn't submit them in their

[2019-12-20 20:56] jaserud commented on #946
After further investigation, it looks like this bug occurs if the user being edited already belongs to any group in EGO. The `edit_gql_mutation` is an [`updateUser`](https://github.com/icgc-argo/program-service/blob/develop/src/main/java/org/icgc/argo/program_service/services/ProgramServiceFacade.java#L176)  call in program service. This updates the `Groups` the user is a part of in EGO,  so they

[2020-01-02 15:51] rosibaj commented on #927
@jaserud @hlminh2000 can we get this deployed for QA?

[2020-01-06 15:56] #927 closed

[2020-01-14 22:35] #888 closed

[2020-01-15 15:42] kcullion opened #998 "Program subnav item should open dashboard on first click"
When a user clicks on a program name in their left sidebar, it should open that program's dashboard too.

Currently the user has to click twice to get to the program dashboard (once on the program name to open the menu item, then again on the dashboard link).

[2020-01-15 18:48] rosibaj commented on #839
tested - messages appears on first load and after all local storage/cookies are cleared.

lgtm.  thanks @hlminh2000 !

[2020-01-15 18:48] #839 closed

[2020-01-15 19:18] rosibaj opened #1000 "increase the max-width of clinical submission modal"
Currently have to scroll to see whole summary in summary modal
please increase the max-width of this modal
![image](https://user-images.githubusercontent.com/15824252/72463679-c9048380-37a1-11ea-9076-a3d558157bfd.png)

[2020-01-15 19:30] rosibaj opened #1001 "🐛 Fix routing to dcc dashboard to include the navigation bar"
![image](https://user-images.githubusercontent.com/15824252/72464612-9fe4f280-37a3-11ea-81cc-7c12661345c0.png)

[2020-01-15 19:40] rosibaj commented on #905
Closing this as all scripts have been captured in https://github.com/icgc-argo/argo-dictionary/issues/28

[2020-01-15 19:40] #905 closed

[2020-01-16 20:47] rosibaj commented on #950
tested on dev as it has the most data - looks like i can scroll to see all programs now.

[2020-01-16 20:47] #950 closed

[2020-01-16 21:33] rosibaj commented on #965
@jaserud some very small, tiny change here pls:
![image](https://user-images.githubusercontent.com/15824252/72564364-8d3eec00-387d-11ea-9f9e-be3d70f04ee3.png)

[2020-01-16 21:48] wajiha-oicr commented on #944
Hi! Could I get some clarification on the location of the hyperlinks? I see the links that say:
"get started with clinical data submission"
"get started with molecular data submission" **>>assuming this one takes you to the "submit clinical data" tab ?**

Thanks!
"get started with data submission"

[2020-01-16 21:52] rosibaj commented on #944
@wajiha-oicr these will lead to the docs site - the deploy is currently in progress, so you can point those links to : https://platform-ui.qa.argo.cancercollaboratory.org/ for now; we will update these later in this ticket #271

[2020-01-16 21:53] wajiha-oicr commented on #944
Ah okay! Thanks for clarifying :)

[2020-01-17 19:47] rosibaj commented on #1001
lgtm thanks @hlminh2000 !!!!!

[2020-01-17 19:48] #1001 closed

[2020-01-17 20:00] kcullion commented on #945
@P-Saha can you just make it so if there's room in the card, those links (Sample Registration, Clinical Submission) would span one line? My design showed a version of the card that wasn't too wide.

But on my big screen there's room for those links to be on one line:
[Uploading... Screen Shot 2020-01-17 at 2.59.50 PM.png ]

[2020-01-20 15:23] rosibaj opened #1019 "Static UI: Dashboard Donor Data Summary Card"
big table at bottom
**Zeplin** https://app.zeplin.io/project/5a69fad2bde6330a929157fd/screen/5deeac22f471a10775935a47

Scop for static UI is
- layout the table (all headers)
- if double header is too hard to do, we can save that for later
- focus on clinical fields on left

[2020-01-20 15:24] rosibaj opened #1020 "Static UI: Completed Core Clinical Data Chart"

[2020-01-20 15:25] rosibaj opened #1021 "Dashboard Architecture, State, & Sequence Diagrams"
We need to update the technical specifications with the architecture for the dashboard. There are three components to spec out before starting development:
- [ ] **Architecture Diagram**  including ES, The Aggregtor Service (New), Kafka, Clinical, Rollcall, Song, Workflows
- [ ] **State diagram** to describe the path from the user submitting through the architecture and the different STATE of the

[2020-01-20 15:26] rosibaj opened #1022 "Dashboard Kafka Message Specification"
Event based messages to update the platform dashboard will be powered by Kafka.
- [ ] Specific the topic structure for the dashboard from clinical event updates
- [ ] Specify the message structure to be consumed

Overall system design: https://drive.google.com/file/d/1-AQ4sXN_2YidLw5xxTos9NS8s8n_m2C2/view?usp=sharing

[2020-01-20 15:27] rosibaj opened #1023 "Dashboard Donor-centric ES Index specification"
The dashboard will be supported by a donor-centric index.  We need to design an index structure that:
- contains each required field with the type
- against ES 7 format

All of the Table Data Points, and how they can be calculated, can be found here:
https://wiki.oicr.on.ca/display/icgcargotech/Program+Dashboard+Page+Specs#ProgramDashboardPageSpecs-SummaryTableDescription

Location to place the ma

[2020-01-20 15:27] rosibaj opened #1024 "Investigate Rollcall Features for Index Management"
To manage updates to the program dashboard, there are a couple options:
1) upsert to indices with live changes
2) use a rolling index system like KidsFirst did to "swap" indices when ready.

Upserts are potentially dangerous as the ES index/cluster health can degrade with a lot of activity.  We want to investigate other index management options to address this concern.

Please consult with use cas

[2020-01-20 21:06] P-Saha opened #1025 "🐛 Save Button not being disabled after clicking when editing profile."
## Describe the bug
As a DCC Member, once I navigate to any programs profile and make edits the button should be enabled, and when I click Save", the button should go back to disabled.
Instead, the button does not go back to disabled and I can press it multiple times.
## Steps To Reproduce
Steps to reproduce the behaviour:
1. Navigate to any programs profile.
![image](https://user-images.githubuse

[2020-01-23 18:52] hlminh2000 commented on #1021
I've put together one diagram that should capture all the requirements here: https://drive.google.com/open?id=1-AQ4sXN_2YidLw5xxTos9NS8s8n_m2C2 (Accessible with oicr gmail)

[2020-01-27 15:18] rosibaj opened #1035 "🐛 404 navigation not working on non-existing program"
## Describe the bug
navigating to non-existing programs should result in 404

## Steps To Reproduce

Steps to reproduce the behaviour:
1. Go to https://platform-ui.qa.argo.cancercollaboratory.org/submission/program/MADEUP-PROG/manage?activeTab=users
2. See that a dashboard loads.

## Expected behaviour
If a program does not exist, then it should be a 404, not an empty dashboard

[2020-01-27 21:02] P-Saha opened #1036 "🐛 Manage Program Profile Tab not loading in for Selenium Testing"
## Describe the bug
When running Selenium testing and navigating to the edit program page for a newly generated program, that page does not load in properly until some time has elapsed. It happens when entering the url into the address bar directly, i.e. https://platform-ui.dev.argo.cancercollaboratory.org/submission/program/Z136947-CA/manage?activeTab=users

This may also happen with programs tha

[2020-01-27 22:22] rosibaj commented on #945
tested on QA lgtm! thanks @P-Saha !!

[2020-01-27 22:22] #945 closed

[2020-01-27 22:25] rosibaj commented on #965
tested on qa - this is working perfectly! thanks @jaserud !!

[2020-01-27 22:25] #965 closed

[2020-01-27 22:26] rosibaj commented on #944
tested on argo-qa env - this looks great!! thanks @wajiha-oicr !!!

[2020-01-27 22:26] #944 closed

[2020-01-28 20:08] P-Saha opened #1040 "🐛 "errors" in Error Notification is always plural"
## Describe the bug
Error notifications say "x errors..." even when there is only 1 error, i.e. it will say "1 errors found in..."

## Steps To Reproduce
Submit a .tsv file with a single incorrect field to submit clinical data or register samples.

[2020-01-28 21:20] rosibaj opened #1042 "Integrate Refresh Token to Platform"
- [ ]  Make the correct changes to register the correct token initializing patterns in the app. Refresh tokens should last 3 hours, JWT 30 minutes
- [ ] When the JWT is expired, check for the refresh token.  Update the cookie and retry request.  if that fails, then logout.

[2020-01-28 21:21] rosibaj opened #1043 "Upgrade Ego - URI and Refresh Token"

[2020-01-28 22:01] P-Saha opened #1044 "🐛 When validating a submission, if the file is wrong it should take me to its tab"
## Describe the bug
When validating a submission, if a file or files are wrong it should take me to the first incorrect file's tab, similar to how upload file works. Currently, I stay on the current file tab I was on when I pressed validate.

## Steps To Reproduce
Navigate to a program
Register samples for that program
Navigate to program's submit clinical data page
Click on a file tab that you wi

[2020-01-28 22:12] rosibaj commented on #1023
@joneubank @jaserud i think this issue is pretty close to done.  Jaser, is the demo data actually posted to ES and queryable or are the demo documents only on the wiki right now?

[2020-01-29 16:46] rosibaj commented on #1022
Will be done as part of https://github.com/icgc-argo/argo-clinical/issues/359

[2020-01-29 16:46] #1022 closed

[2020-01-29 18:22] kcullion commented on #971
@rosibaj @blabadi, Rosi and I were discussing this. We feel it's working well as is. So if a user deletes non-required field headers, their file preview will just show the headers in their file.

@rosibaj should we close this ticket?

[2020-01-29 18:25] kcullion opened #1045 "Error text change: adding same user to Program"
When I try to add a user that already exists in my program I get the following error, which isn't too helpful:
![Screen Shot 2020-01-29 at 11 30 48 AM](https://user-images.githubusercontent.com/18424138/73385287-ea359b80-429a-11ea-8eae-f2fbfac2156e.png)

Please change the text to:
The following user(s) already exists in your program: [user_name]

[2020-01-29 18:29] kcullion opened #1046 "Error: uploading sample_registration file in clinical submission section"
When I upload the sample_registration.tsv file in the clinical section it says:
![Screen Shot 2020-01-29 at 11 44 04 AM](https://user-images.githubusercontent.com/18424138/73385561-64feb680-429b-11ea-88fe-dcdaa601bd2d.png)

[2020-01-29 18:38] kcullion opened #1047 "Register Samples table: start the rows at #2 like in clinical"
To be consistent with clinical submission, let's renumber these starting at 2 too.
![Screen Shot 2020-01-29 at 1.37.56 PM.png](https://images.zenhubusercontent.com/5a5f5bcd4b5806bc2bc31a86/e2235897-13ff-4262-aa77-9c8cbfed3e0f)

[2020-01-29 19:17] kcullion opened #1048 "🐛 bugs for clinical submission updates"
## Describe the bug
Clinical submission section: I upload, validate, sign off some clinical files. But then when I upload those exact files again, I see that they have updates to be approved. I haven't updated any data.
![Screen Shot 2020-01-29 at 2 17 33 PM](https://user-images.githubusercontent.com/18424138/73389426-202a4e00-42a2-11ea-85c0-de43ac6cd304.png)

- [ ] I also noticed when I did chang

[2020-01-29 19:22] #1021 closed

[2020-01-29 19:35] #971 closed

[2020-01-29 19:37] kcullion opened #1049 "Error text changes"
- [ ] Please change this wording to "# new registered sample(s) "
![Screen Shot 2020-01-29 at 2 27 19 PM](https://user-images.githubusercontent.com/18424138/73390843-ea3a9900-42a4-11ea-9146-7077f02bb7b4.png)

[2020-01-29 19:45] kcullion opened #1051 "🐛 Toast bug: submission sign off without updates"
## Describe the bug
When I submit clinical data, and sign off the submission, the toast quickly flashes on screen then the user is redirected to the dashboard (without the toast)

## Steps To Reproduce

Steps to reproduce the behaviour:
1. Go to Clinical Submission
2. Upload files
3. Validate and Sign off
4. See the toast flash then redirect to the dashboard

## Expected behaviour
This confirmatio

[2020-01-29 19:53] #1023 closed

[2020-01-29 20:14] kcullion opened #1052 "🐛 Table scrollbar covering the last table row"
## Describe the bug
On my small laptop screen, when the table requires a horizontal scrollbar, it covers the last row of data.
Eg
<img width="1286" alt="Screen Shot 2020-01-29 at 3 05 19 PM" src="https://user-images.githubusercontent.com/18424138/73393505-c88fe080-42a9-11ea-9ac5-1d8567a0716b.png">
<img width="1028" alt="Screen Shot 2020-01-29 at 3 11 04 PM" src="https://user-images.githubuserconte

[2020-01-29 20:17] kcullion commented on #1052
This is not a bug, I refreshed my page and the scrollbar was fine

[2020-01-29 20:17] #1052 closed

[2020-01-29 21:02] rosibaj commented on #946
tested on qa
- adding the same user/editing the same user works as expected
- deleting a user

lgtm!  thanks @jaserud !!!!

[2020-01-29 21:02] #946 closed

[2020-01-29 21:28] rosibaj opened #1054 "🐛 Modal issues in add user"
![image](https://user-images.githubusercontent.com/15824252/73398885-448f2600-42b4-11ea-91ac-1ddc58af713d.png)

## Expected behaviour
The dropdown should drop below the edge of the modal, and should not cause a scrollbar to appear.

## Solution
fix the modal height to be a little latter or fix the modal overflow.

[2020-01-29 21:40] kcullion opened #1055 "File order - Clinical tab, dictionary, or elsewhere"
The order that files are displayed in should be consistent across all sites.  For example, this is the order in the clinical submission system right now, but that order is not correct.
![Screen Shot 2020-01-29 at 4 37 41 PM](https://user-images.githubusercontent.com/18424138/73399773-d8152680-42b5-11ea-8dd0-955041cfd661.png)
The order of files should be as follows:
- Donor
- Specimen
- Primary Dia

[2020-01-29 21:44] rosibaj opened #1056 "Add env variables for the docs site"
Qa platform (https://platform-ui.qa.argo.cancercollaboratory.org/) should point to qa docs site (https://docs.qa.argo.cancercollaboratory.org/)
prod platform (https://platform.icgc-argo.org/) should point to prod docs site (https://docs.icgc-argo.org/)

- [ ] Added to env and chart and values

[2020-01-29 22:52] rosibaj commented on #671
Happens for me at 110%
![image](https://user-images.githubusercontent.com/15824252/73404677-11529400-42c0-11ea-8fdb-c5fa0c4052c4.png)

[2020-01-29 22:54] #1024 closed

[2020-01-30 14:38] kcullion opened #1058 "Email Invite: optimize for other email clients"
Fix the email template so I works in email clients other than gmail.

![Screen Shot 2020-01-30 at 9.26.14 AM.png](https://images.zenhubusercontent.com/5a5f5bcd4b5806bc2bc31a86/925acc15-655b-4456-ba73-4463c65ebe6c)

[2020-01-30 14:50] rosibaj commented on #1025
tested on QA - it looks like this is working correctly now!

[2020-01-30 14:50] #1025 closed

[2020-01-30 15:13] kcullion commented on #1000
@ciaranschutte this looks good thanks. we may revisit this to design for lack of horizontal scrollbar

[2020-01-30 15:13] #1000 closed

[2020-01-30 15:19] rosibaj commented on #1035
You can see a flash of the program before the 404 - lets add the loader as suggested.

[2020-01-30 15:34] rosibaj opened #1059 "Feature Request: Global Error State"
- Catch any errors that happen
-  Make sure it gets directed to the correct oops page

## Possible Implementation

[2020-01-30 16:45] kcullion commented on #1047
@rosibaj to be more clear, should we do what we do in the error table, and name this column to "Line #" instead of just #? (in register samples and clinical submission tables)
I know it's longer, but it's clearer that it's a file line number reference.
<img width="270" alt="Screen Shot 2020-01-30 at 11 45 28 AM" src="https://user-images.githubusercontent.com/18424138/73470556-119d6e80-4356-11ea-95

[2020-01-30 18:36] rosibaj commented on #1047
@hlminh2000 Can you also rename based on @kcullion suggestion and let us see how much it impacts the ui?

[2020-01-31 18:26] rosibaj opened #1065 "🐛 Icons in disabled button state should be white, not colored."
## Describe the bug
Icons in  disabled button state should be white, not colored.
![image](https://user-images.githubusercontent.com/15824252/73564258-2a2c8800-442d-11ea-9ee2-7202542a2968.png)

## Steps To Reproduce
1. disable the submission system using the lock config
2. look at the upload button on https://platform-ui.qa.argo.cancercollaboratory.org/submission/program/PRE-PAN-GB/clinical-submis

[2020-01-31 20:34] P-Saha opened #1067 "🐛 Edit user, clicking the same role enables save button."
## Describe the bug
When I edit a user and click the drop down and select the same role as the user was previously, this enables the save button even though nothing has changed.

## Steps To Reproduce
Go to manage program
Go to edit user modal
Click role dropdown and select the same role as previously

[2020-02-03 17:26] blabadi commented on #1048
note: This is a backend issue, the PR is in argo-clinical

[2020-02-03 20:59] #1048 closed

[2020-02-04 05:06] rosibaj commented on #1035
tested on QA - was able to see the 404 page when a "fake" url ( program name and fake page) without the bump that was observed before.

lgtm.  thanks @jaserud !!

[2020-02-04 05:06] #1035 closed

[2020-02-04 05:08] rosibaj commented on #1047
Tested in qa environment
- line numbers now starts at 2
- header has been renamed to Line #

Thanks for the work @hlminh2000 !!

[2020-02-04 05:08] #1047 closed

[2020-02-04 05:12] rosibaj commented on #1054
Noticed a couple more issues:

- [ ] The dropdown does not close when i click away.
![image](https://user-images.githubusercontent.com/15824252/73715697-d77bf600-46e2-11ea-9e66-27179f8e9d8a.png)

- [ ] On a smaller screen, when I add more users the modal should scroll, and always have the buttons visible (cc @kcullion pls add any more details)

[2020-02-04 05:15] rosibaj commented on #1040
@hlminh2000 is this deployed to qa?

[2020-02-04 15:56] kcullion opened #1068 "🐛 Click Program link from program page - flash on page"
## Describe the bug
From the program page: https://platform-ui.qa.argo.cancercollaboratory.org/submission/program
When I click on a program name it takes me to the dashboard, then I see the loader flash quickly.

## Steps To Reproduce

Steps to reproduce the behaviour:
1. Go to https://platform-ui.qa.argo.cancercollaboratory.org/submission/program
2. Click on a program name link
3. See a flash on

[2020-02-04 16:04] kcullion commented on #1054
@rosibaj yes I think the modal needs to be scrollable so the user can access the bottom buttons. We can fix them and create a fixed height for the modal, or we can just allow the user to scroll the full modal.

I saw something else - should we add to another ticket?

I tried adding 4 users (different names, different roles, but same email address).
The success notices says this, but it only added

[2020-02-04 16:08] kcullion opened #1069 "Update links for Documentation and DACO access"
We have the url for the docs site: https://docs.icgc-argo.org/
Please update the following links (using the link component):

**Beta landing page callout**
- [x] "manage a program" links to: https://docs.icgc-argo.org/docs/managing-program-access/
- [x] "register samples" links to: https://docs.icgc-argo.org/docs/registering-samples
- [x] "submit clinical data" links to: https://docs.icgc-argo.org

[2020-02-04 16:38] rosibaj opened #1071 "🐛 DACO access is not correct on production"
![image](https://user-images.githubusercontent.com/15824252/73765452-8f8cbb80-4742-11ea-8e23-eb8130148659.png)

- the groups were renamed in prod:
{
  "limit": 20,
  "offset": 0,
  "count": 2,
  "resultSet": [
    {
      "id": "-------",
      "name": "DACO-CLOUD",
      "description": null,
      "status": "APPROVED"
    },
    {
      "id": "-------b",
      "name": "DACO",
      "description":

[2020-02-04 16:38] kcullion opened #1072 "🐛 Adding Users with same email address"
## Describe the bug
I shouldn't be able to add multiple users with the same email address. Currently it just makes the last one you add (with the same address) a program user.

## Steps To Reproduce

Steps to reproduce the behaviour:
1. Go to add users modal for a program
2. In that same modal, add multiple users with different names, different roles, but same email address
3. Click Add users
4. s

[2020-02-05 14:44] P-Saha commented on #1036
This is now working after clearing the test programs out of the database. Uncertain if the two events are related. If this is still a bug I am not sure if it is with the Selenium tests. Maybe the issue was having too many programs in the database but I am not sure why this would be the case.

[2020-02-05 19:52] hlminh2000 commented on #1040
@rosibaj yes! version 1.8.11 as tagged :)

[2020-02-06 19:55] #1040 closed

[2020-02-06 19:55] rosibaj commented on #1040
lgtm - thanks @P-Saha !!!

[2020-02-07 16:02] P-Saha opened #1079 "🐛 Toast disappears immediately when redirected to program dashboard after clinical submission signoff"
## Describe the bug
When signing off on clinical submission with no updates, the toast appears and then immediately disappears when getting redirected to the dashboard.

## Steps To Reproduce
Sign off clinical data with no updates.

## Expected behaviour
Toasts should persist above page switching. (preferred)
OR
Toast should pop in after getting redirected to program dashboard.

[2020-02-07 16:04] P-Saha opened #1080 "🐛 Clinical Submission progress bar goes off the page."
## Describe the bug
See photo
<img width="383" alt="Screen Shot 2020-02-07 at 10 54 34 AM" src="https://user-images.githubusercontent.com/19506039/74044749-92cdb480-4999-11ea-85af-381c6d7f431b.png">

## Steps To Reproduce
Go to dashboard while having clinical submission pending approval.
- @kcullion has a mockup - the bar title spans two lines always so there's more room for the progress bars
- fi

[2020-02-10 15:05] #1036 closed

[2020-02-10 18:58] P-Saha commented on #1054
The issue with the dropdown not closing occurs with every <Select> Tag in the code. This for example also occurs when creating a program and clicking the choose role drop down and clicking away. Will lump that in within this ticket's scope.

[2020-02-11 21:14] kcullion opened #1082 "Landing page updates for Beta Testing"
- [ ] Add a warning to the page to notify this is closed for beta testing
- [ ] Revise the title of the page to "Welcome to the ICGC ARGO Data Platform"
- [ ] Revise the copy in the "Get started with Data Submission" callout so it's geared towards Beta testers

zeplin:https://zpl.io/V11k0G4

![Screen Shot 2020-02-11 at 4 44 05 PM](https://user-images.githubusercontent.com/18424138/74282206-bec89d0

[2020-02-13 00:20] rosibaj opened #1084 "Update API Key Language"
![image](https://user-images.githubusercontent.com/15824252/74389571-99f72700-4dcc-11ea-97c8-da435219df11.png)
![image](https://user-images.githubusercontent.com/15824252/74389593-b3986e80-4dcc-11ea-95f6-b340a8c34461.png)

- In discussion in sprint planning, we decided to change the terminology to `API Token`
- [ ]  Update the selenium tests to look for `API Token`
- [ ] Update the UI to say `API

[2020-02-13 17:07] rosibaj commented on #1084
NOTE: PLEASE USE `API Token` instead of `API Key`

[2020-02-13 17:21] rosibaj commented on #1071
- check gateway first to make sure information is returned correctly
- if it is the gateway, then check the caching first
- if not those, then have fun finding it!

[2020-02-13 18:17] hlminh2000 commented on #919
Program service needs to provide this information from ego using its application API token. The gateway will read this from program service and provide to UI.

[2020-02-14 19:03] wajiha-oicr commented on #902
@kcullion suggestion, would it be more clear if the error message said

Improperly named files cannot be uploaded or validated. All files must start with the corresponding entity name and have the **correct** .tsv extension (e.g. donor<_optional_extension>.tsv).

Instead of

Improperly named files cannot be uploaded or validated. All files must start with the corresponding entity name and have the

[2020-02-14 19:07] kcullion commented on #902
@wajiha-oicr

I think saying "have the .tsv extension" means that it can't have a .jpg or .xls extension, for example. If we want to say "correct" then it would probably say something like "have the correct extension" (which would be .tsv).

Am I understanding correctly? or do you want to say "correct" because of the optional extension they can put on?

[2020-02-14 19:09] wajiha-oicr commented on #902
Ohhhh, I didn't interpret it that way at first but that makes sense!

[2020-02-14 19:10] kcullion commented on #902
thanks @wajiha-oicr . yeah maybe it's a bit wordy. thanks for your suggestion though!

[2020-02-14 19:12] kcullion commented on #902
@wajiha-oicr maybe we say something like this:

Improperly named tsv files cannot be uploaded or validated. Please retain the template file name and only append characters to the end. (e.g. donor<_optional_extension>.tsv).

[2020-02-18 15:50] rosibaj commented on #1067
tested on qa- is working as expected now.  Thanks @anncatton !!

[2020-02-18 15:50] #1067 closed

[2020-02-18 18:51] rosibaj commented on #1051
@kcullion do you mind testing this one please?

[2020-02-18 18:51] rosibaj commented on #902
@kcullion do you mind testing this one please!

[2020-02-18 19:46] kcullion commented on #1051
@rosibaj @wajiha-oicr this works for me! well done

[2020-02-18 19:46] #1051 closed

[2020-02-18 19:49] kcullion commented on #902
@rosibaj @wajiha-oicr this looks good!

[2020-02-18 19:49] #902 closed

[2020-02-21 17:43] wajiha-oicr commented on #1065
@rosibaj  any idea how to get to this state in dev/qa?

I was able to confirm the change locally by spoofing the disabled state, but in dev I can't quite get any program in the 'locked submission' state.

[2020-02-21 19:32] rosibaj commented on #1065
@wajiha-oicr yes, there is an endpoint in clinical to do this:
[code]

https://clinical.dev.argo.cancercollaboratory.org/api-docs/#/Submission%20Configurations/patch_submission_configs_submission_disabled

[2020-02-21 20:45] rosibaj commented on #1065
@wajiha-oicr was this deployed to QA environment?  I still see this:
![image](https://user-images.githubusercontent.com/15824252/75070466-3e5e2500-54c1-11ea-970a-4aff2cc0a5e6.png)

[2020-02-21 20:47] rosibaj commented on #1084
Correct text is present in QA environment - lgtm thanks @P-Saha !!

[2020-02-21 20:47] #1084 closed

[2020-02-21 20:47] wajiha-oicr commented on #1065
Oh sorry. I didn't realize it but I think the deploy to QA went south. I'll move the ticket back!

[2020-02-21 21:13] P-Saha commented on #1082
@kcullion Should I keep the old changes commented for use after beta testing is over?

[2020-02-21 21:31] rosibaj commented on #1054
Still seeing a couple issues:
![image](https://user-images.githubusercontent.com/15824252/75073536-a0ba2400-54c7-11ea-9702-f65b2eacfd8b.png)

[2020-02-21 21:36] wajiha-oicr commented on #1065
@rosibaj re-ran the deploy and the change should be there now!

[2020-02-24 14:34] kcullion commented on #1082
@P-Saha I think it's ok to remove. We will have to change this landing page soon anyway. Thanks!

[2020-02-24 15:08] wajiha-oicr commented on #1019
Zepplin link?

[2020-02-24 15:24] rosibaj commented on #1019
@wajiha-oicr ticket updated above.  if you have any qyestions about getting started talk to @hlminh2000!

[2020-02-24 15:49] hlminh2000 opened #1108 "API key not showing in UI"
On the `/user` page, the API key is not showing even though it's available.
How do we know it's available? The following query from the page is returning data fine:
[code]
![Screen Shot 2020-02-24 at 10.48.51 AM.png](https://images.zenhubusercontent.com/5a69f6494b5806bc2bc447b7/30bc3764-f2d1-4bff-af13-b534861ac7f6)

## Expected behaviour
The token should show when you generate a new one, refresh t

[2020-02-24 15:58] rosibaj commented on #1065
@wajiha-oicr still seeing the same thing:
![image](https://user-images.githubusercontent.com/15824252/75168212-8618c280-56f4-11ea-8ab0-bddbf118d419.png)

[2020-02-24 15:58] rosibaj commented on #1065
@wajiha-oicr i see the issue - it is still happening on the `sample registration` page, but NOT on the `clinical submission` page

[2020-02-24 16:01] wajiha-oicr commented on #1065
Ahh okay, I didn't realize it was for both buttons! I'll put up another PR for the other button too.

[2020-02-24 16:07] wajiha-oicr commented on #1065
@rosibaj besides submit clinical data and register samples, is there anywhere else this change needs to go?

[2020-02-24 16:12] rosibaj commented on #1065
@wajiha-oicr nope! just that spot.

[2020-02-24 16:25] kcullion opened #1110 "Collaborators: remove links to register and submit data"
Can we remove the links for this card **ONLY for collaborators**? Since they don't have access to those sections, the links lead to the error page.

![Screen Shot 2020-02-24 at 11 25 06 AM](https://user-images.githubusercontent.com/18424138/75170588-57045000-56f8-11ea-8ff8-75ce84bfd4df.png)

Then when I click "reload this page" from that error page I am taken to an "Internal Server Error" page and

[2020-02-24 18:36] P-Saha commented on #1054
This is a more difficult issue to fix than it seems. Should be made into a new ticket at the recommendation of @hlminh2000.

[2020-02-24 18:37] rosibaj commented on #1054
thanks @P-Saha I will make into a new ticket - we can close this one for now then.

[2020-02-24 18:37] #1054 closed

[2020-02-24 18:38] rosibaj opened #1111 "Modal issues in new user"
Continuation of #1054

![image](https://user-images.githubusercontent.com/15824252/75180790-e9adea80-570a-11ea-912f-bc53aa99cf66.png)

[2020-02-24 21:59] rosibaj opened #1116 "🐛 Invalid ... icon not showing in side bar sometimes"
![image](https://user-images.githubusercontent.com/15824252/75194928-05bf8500-5727-11ea-83a9-ee9ce828f959.png)

## Expected behaviour
When a submission has been marked `invaid` it shows correctly in the top status bar, but not in the side bar.

[2020-02-25 18:50] #827 closed

[2020-02-25 20:53] rosibaj commented on #1065
this looks great thanks @wajiha-oicr !

[2020-02-25 20:53] #1065 closed

[2020-02-25 21:13] kcullion commented on #1082
As discussed with @P-Saha
1. please include the urls for the documentation links within the callout
2. move the banner up 20px so it doesn't cover the logo on a laptop resolution

![](https://files.slack.com/files-pri/T033B0H01-FU41ZRA8J/screen_shot_2020-02-25_at_4.09.08_pm.png)

[2020-02-25 21:21] rosibaj opened #1125 "🐛 Inconsistent/incorrect banner placement"
## Submit Clinical Data Page looks correct

![image](https://user-images.githubusercontent.com/15824252/75288407-4fbd6f00-57ea-11ea-8ae2-17ff1602b8fe.png)

## Issues on the Register Samples/Manage Program Pages

![image](https://user-images.githubusercontent.com/15824252/75288610-b478c980-57ea-11ea-8289-a4b2ff9b88ec.png)

![image](https://user-images.githubusercontent.com/15824252/75288680-d40ff20

[2020-02-25 21:43] wajiha-oicr opened #1126 "🐛 The "All Programs" Table seems to render n-1 rows"
## Describe the bug
![image](https://user-images.githubusercontent.com/59613607/75289334-1259e100-57ec-11ea-9dcc-0fde6c6af210.png)

Despite the fact that the table is being passed the correct `data` object that contains all the rows, it seems like the table always renders (number of rows -1).

Another observation I noticed is that if there are >2 programs, you can see that the missing row is just

[2020-02-25 22:26] hlminh2000 commented on #1082
@kcullion @rosibaj we quite a few links scattered around that need to be hooked up. I believe we have a ticket for that, can you confirm? This isn't really part of this ticket's scope...

[2020-02-26 14:27] kcullion commented on #1082
@hlminh2000 yes we do: https://github.com/icgc-argo/platform-ui/issues/1069
@P-Saha  was in there so thought it would be easiest if he just did that update at the same time. Let me know if I need to add this to the other ticket

[2020-02-26 14:31] hlminh2000 commented on #1082
Some of the work for the links isn't page specific so it's easier to keep track separately to avoid blocking this ticket :)

sorry I didn't notice the original ticket scope earlier when you asked @kcullion

[2020-02-26 14:33] kcullion commented on #1082
thanks @hlminh2000 - I think Priyonto said he made the changes

[2020-02-26 16:29] rosibaj commented on #1079
Verified on dev environment - this bug is no longer happening

https://drive.google.com/file/d/1tRmbpGPrH5lBkgywzqSaX-xrjMTkLoeJ/view

[2020-02-26 16:29] #1079 closed

[2020-02-26 17:12] wajiha-oicr commented on #1019
@rosibaj, I'm wondering about the `Samples` and `Raw Reads` fields...

I see values like '1N' alongside '1T'. Are those paired values, or independent from each other?

[2020-02-26 19:22] rosibaj commented on #1019
They are independent data pieces, but usually makes sense to present together. the # comes from the clinical system and is a count of normal (N) or Tumour (T) samples.

All table columns are explained here:
https://wiki.oicr.on.ca/display/icgcargotech/Program+Dashboard+Page+Specs

[2020-02-26 20:12] rosibaj commented on #678
Closing this issue as a duplicate

[2020-02-26 20:12] #678 closed

[2020-02-26 20:28] rosibaj opened #1130 "Error state on token generation"
sometimes generating a token spins forever.  We need to report if an error occurred, not just spin forever.

try catch report

[2020-02-26 20:59] rosibaj commented on #1068
flash is fixed now thanks @wajiha-oicr !

[2020-02-26 20:59] #1068 closed

[2020-02-26 21:15] rosibaj commented on #938
Closing as this was addressed in a separate ticket

[2020-02-26 21:15] #938 closed

[2020-02-26 21:48] kcullion opened #1131 "🐛 Add User dropdown default"
## Describe the bug
When adding a user the role defaults to "Collaborator". A program admin may not change this, and it seems arbitrary to land on collaborator.
![Screen Shot 2020-02-26 at 4 46 34 PM](https://user-images.githubusercontent.com/18424138/75391203-9cbb4700-58b7-11ea-9f25-855b91607b5c.png)

## Steps To Reproduce

Steps to reproduce the behaviour:
1. Go to Manage program for a program
2

[2020-02-26 21:54] rosibaj opened #1132 "Data Hookup - Gateway to Dashboard"
- we have the table #1019
- we have the gateway https://github.com/icgc-argo/platform-api/issues/133
transform the gateway data shape to the expected table state.

[2020-02-27 14:34] rosibaj commented on #940
I got this on login:
![image](https://user-images.githubusercontent.com/15824252/75454978-57912680-5944-11ea-9d4f-05e4c44e0846.png)

[2020-02-27 14:59] kcullion commented on #1044
@rosibaj I tested this, looks good to me!

[2020-02-27 16:35] kcullion opened #1134 "Contact page content and style fixes"
**Contact Page**

- [ ] Please make the colours and icons consistent with the docs landing page: https://docs.icgc-argo.org/
- [ ] finalize the FAQs list of links - maybe we don't make it FAQs?

![Screen Shot 2020-02-24 at 5 20 15 PM](https://user-images.githubusercontent.com/18424138/75196468-06a5e600-572a-11ea-8f77-e77f2ef12d85.png)

![Screen Shot 2020-02-24 at 5 16 43 PM](https://user-images.gi

[2020-02-27 16:55] rosibaj commented on #1069
Add all ids links here as well for future testing : https://github.com/icgc-argo/e2e-test/issues/32

[2020-02-27 17:18] rosibaj opened #1133 "Feature Request: Global Error Handler"
Similar to Feature Request: Global Error State #1059

- this is to catch all network level errors
- catch the error and report on the page as a toast that something went wrong.

[2020-02-27 17:21] rosibaj commented on #1130
30 minute sandbox @hlminh2000

[2020-02-27 18:50] kcullion opened #1135 "API Token note: copy change"
On the profile + token page, please update the current note to read as a list with two bullet points:
<img width="667" alt="Screen Shot 2020-02-27 at 11 17 09 AM" src="https://user-images.githubusercontent.com/18424138/75476135-101c9180-5968-11ea-9fac-04b9059bd35b.png">

- [ ] Adding the bottom bullet point:
When you generate a new token, all previous tokens become invalid.

- [ ] And removing the

[2020-02-27 19:40] rosibaj opened #1137 "Connect Contact form to ICGC Jira Helpdesk"

[2020-02-28 14:05] kcullion commented on #1110
@wajiha-oicr yes, basically the card would not link anywhere for Collaborators because they can't submit or register data...so it would look like this:
<img width="387" alt="Screen Shot 2020-02-28 at 9 04 58 AM" src="https://user-images.githubusercontent.com/18424138/75555055-82917e00-5a09-11ea-9d86-ac3121fca76f.png">

[2020-02-28 19:21] P-Saha commented on #1072
@kcullion Adding the notification where requested under the field is difficult, as the field validations are self-contained, i.e. they rely only on what is in the field. Since the same email used requires knowledge of other emails outside of the field/outside of it's scope, and requires this information dynamically (as more fields get added), it is a bit more difficult to have that notification wh

[2020-02-28 19:24] kcullion commented on #1072
@P-Saha that is where all of the notifications show up (like name is required, email is required...) so I'm not sure I understand why this one can't show there

[2020-02-28 19:27] kcullion commented on #1072
@P-Saha can you esplain to me when the error would show up in the modal...like is it when the user presses "add users" or when they put an already used email address in the email field and then mouse away from that field?

[2020-02-28 19:33] kcullion commented on #1072
Maybe we make the validation happen on the "add users" button - then an error could show up at the top of the modal. But would you be able to highlight the fields that have the error with the red border?

[2020-02-28 19:33] P-Saha commented on #1072
I had the assumption that it was in the modal and mousing away, which is difficult. If it is when the user presses "add users", that is easier to do and fixes the issue of the notification being under the field.

The current notifications of "email is required", "email is invalid", etc. all do not use any outside information, it only depends on the text within the field. The email being the same a

[2020-02-28 19:38] P-Saha commented on #1072
The highlighting of the boxes is what is giving me problems. I currently have it so that when an email is duplicated you cannot add a user and "add another" button is disabled, but it gives no indication as to why. I can have a notification appear above all of the users saying you cannot add duplicate emails, but having the notification on the individual user is more difficult.

[2020-02-28 20:59] wajiha-oicr commented on #628
@joneubank @hlminh2000 do either of you know if it's possible to add some unique identifier from [this query?](https://github.com/icgc-argo/platform-ui/blob/develop/components/pages/submission-system/program-management/PROGRAM_QUERY.gql ).

If a user shouldn't be able to remove themselves, then what would be a reliable way of checking if the logged in user is the same as the one from the list of u

[2020-02-28 21:02] joneubank commented on #628
@wajiha-oicr email is a valid unique identifier for users in Argo. The best would be the user ID (`sub` field in JWT) but that isn't made available through the gateway/ProgramService.

SO: use email. That works.

[2020-02-28 21:03] wajiha-oicr commented on #628
Makes sense! Thanks Jon!

[2020-03-02 14:37] wajiha-oicr commented on #1110
@kcullion Do you know how can I make an account with collaborator status? I'd like to be able to test this in dev, but my account isn't a collaborator.

[2020-03-02 14:39] kcullion commented on #1110
@wajiha-oicr yes you can, just go a a program, add user - and specify your role as "collaborator" in the user form

[2020-03-02 15:05] anncatton commented on #1071
Checked with @joneubank, this works for his account on prod. Can you retest @rosibaj with your daco-approved account?

[2020-03-02 15:28] kcullion commented on #1131
@anncatton just a small bug when I click on the dropdown, don't select an option, then click away I get this error
<img width="412" alt="Screen Shot 2020-03-02 at 10 24 13 AM" src="https://user-images.githubusercontent.com/18424138/75690269-88d56380-5c70-11ea-9253-4c77484105d1.png">

[2020-03-02 15:30] kcullion commented on #1135
looks great @anncatton !

[2020-03-02 15:32] kcullion commented on #1108
@anncatton this looks good to me. @rosibaj I'll keep it in this column for you to test too

[2020-03-02 17:47] wajiha-oicr commented on #1110
and an email should be sent out if you do that? I tried adding collaborator users but I'm not seeming to get invitation emails in my inbox

[2020-03-02 18:38] kcullion commented on #1110
@wajiha-oicr you may still have to go through mailhog to access the email and click the join button. I'll slack you

[2020-03-02 18:49] kcullion commented on #1116
I see the "!" icon in the sidebar now, thanks Ann.

@rosibaj I just noticed, in other cases we have the user land on the first tab with the errors. Here they are landing on the Chemo tab, but it's not the one with the errors. Should we fix this along with this ticket?

[2020-03-02 19:07] kcullion opened #1154 "Invalid Submission Errors: tab should land on first reported error"
When the submission is invalid (because of dictionary changes), going to the clinical submission section should land on the first tab with reported errors. Currently it lands on the first tab (chemotherapy). This is what we have consistently been doing in other error scenarios.

<img width="1269" alt="Screen Shot 2020-03-02 at 2 05 31 PM" src="https://user-images.githubusercontent.com/18424138/757

[2020-03-02 20:08] kcullion commented on #1045
This ticket will not happen after this ticket is done: https://github.com/icgc-argo/platform-ui/issues/1072
The admin will never be able to submit an email address more than once

[2020-03-02 20:10] #1045 closed

[2020-03-03 15:47] joneubank commented on #1133
I'm going to take this out of our sprint and move it to icebox. This ticket is still just an idea in my brain and not clearly defined enough to implement. There are also no current issues occurring that this would solve, so we can put it on the backburner for now.

A couple key things to determine:
* what types of errors are we trying to deal with (network issues, server errors?)
* how would we wa

[2020-03-03 16:01] joneubank commented on #1071
Checking the code/logic it seems like it should work correctly as is. Need confirmation that this is still an issue and a way to reproduce.

[2020-03-03 17:25] akachru-github commented on #1069
@P-Saha , this ticket is now a requirement for beta next week. Let's remain focused on this before any other work. We will attempt to promote as a hotfix to production.

[2020-03-03 17:54] P-Saha commented on #1069
@akachru-github Understood!

[2020-03-03 18:35] P-Saha commented on #1069
@kcullion Do we want to open any links on a new page rather than on the same page for any of these links?

[2020-03-03 18:36] kcullion commented on #1069
@P-Saha yes let's open the links to the external sites (daco or docs site) in a new window. For any internal links (like the contact us links) just open within the same window.  Make sense?

[2020-03-03 18:37] P-Saha commented on #1069
@kcullion Sounds good!

[2020-03-03 18:45] kcullion opened #1162 "🐛 DCC updates: old and new values are not correct"
## Describe the bug
(in QA and Production)
DCC locked submission for approval: the updated rows are still incorrect.
<img width="1151" alt="Screen Shot 2020-03-03 at 1 42 10 PM" src="https://user-images.githubusercontent.com/18424138/75808275-d3301080-5d54-11ea-9124-5b9db301a4da.png">

## Steps To Reproduce

Steps to reproduce the behaviour:
1. Submit a clinical file
2. make an update to submitted

[2020-03-03 19:02] kcullion opened #1166 "🐛 Clinical submission is Reporting updates to data that I didn't change"
## Describe the bug
Uploading the same treatment file for a second time, reports that I made updates to the data.
(happening in QA and Production)

## Steps To Reproduce

Steps to reproduce the behaviour:
1. After registering a donor, upload a treatment + chemo file. The treatment file should have one row for a donor for chemo treatment and one for Ablation for the same donor. Both are primary tre

[2020-03-03 19:30] kcullion commented on #1019
@rosibaj as discussed with @wajiha-oicr. At this stage, we will not split the Samples and Raw Reads cells into two cells as it's quite complicated, especially with the column filter being for both portions of the cell.
For now, this is what Wajiha will build, as it communicates the same thing as the cells split into two.
<img width="104" alt="Screen Shot 2020-03-03 at 2 28 35 PM" src="https://user

[2020-03-03 21:08] kcullion opened #1167 "🐛 Submission not refreshing when DCC approves"
## Describe the bug
DCC has to refresh the browser in order to see that the program submission has been approved and reset.

This submission has been approved, but the lock is still there...and the submission still appears locked for approval
<img width="286" alt="Screen Shot 2020-03-03 at 3 46 44 PM" src="https://user-images.githubusercontent.com/18424138/75819653-11cfc600-5d69-11ea-8169-50dc2689

[2020-03-04 13:11] kcullion commented on #1131
looks good @anncatton thanks!

[2020-03-04 13:22] kcullion commented on #1110
@wajiha-oicr the link removal is working. But I noticed, when I have a registration/submission in progress I see it within the data submitter role but not the collaborator role.
Data submitter
<img width="722" alt="Screen Shot 2020-03-04 at 8 19 48 AM" src="https://user-images.githubusercontent.com/18424138/75883623-4c7d4100-5df1-11ea-8a36-374e8084275c.png">

Collaborator
<img width="424" alt="Scr

[2020-03-04 14:13] wajiha-oicr commented on #1110
@kcullion that might be its own separate issue. the link is quite separate from the data that feeds into those progress bars.

[2020-03-04 14:15] kcullion commented on #1110
@wajiha-oicr that's what I was going to ask. I'll make a separate issue and move this one. Thanks

[2020-03-04 15:29] kcullion opened #1169 "🐛 Collaborator doesn't see registration/submission status"
## Describe the bug

## Steps To Reproduce

Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Expected behaviour
A clear and concise description of what you expected to happen.

[2020-03-04 18:48] kcullion commented on #1069
@P-Saha to fix:
- [ ] all links should be using the default style from the UI kit (eg. maintenance page)
- [ ] Documentation link in footer can open in a new window to be consistent with the other docs links

[2020-03-04 19:29] kcullion opened #1178 "Show an error on data update that has dependencies"
When a user makes updates to data they have already submitted, and that data has dependencies, check that the dependent fields are filled out correctly.

For example:
1. I submitted a primary diagnosis file with clinical_tumour_staging_system:AJCC 8th Edition, and also filled the required T, N, M values.
2. Then I went to that file and changed the clinical_tumour_staging_system to Lugano (which do

[2020-03-04 20:36] kcullion commented on #1126
Working in qa. Thanks @jaserud

[2020-03-04 22:28] jaserud opened #1183 "🐛 Beta testing banner covers some of the buttons"
## Describe the bug
It seems the banner for beta testing is cover the buttons in the top left corner. This only occurs on the home page.

## Steps To Reproduce
Two examples:
1. Can't press `logout` here
![image](https://user-images.githubusercontent.com/34698315/75928843-444af300-5e3d-11ea-982b-1d44837e21a7.png)
2. Can't press `login` button here
![image](https://user-images.githubusercontent.com/

[2020-03-05 15:55] kcullion commented on #1069
looks great @P-Saha thanks!

[2020-03-05 16:01] #1082 closed

[2020-03-05 16:08] #1044 closed

[2020-03-05 17:11] kcullion commented on #940
@anncatton and I tested this in prod and it seems all good! @rosibaj we will leave in production column for you to do a final test when you're back

[2020-03-05 18:39] kcullion commented on #1111
tested, looks great @anncatton

[2020-03-05 19:03] hlminh2000 opened #1189 "Testing 1069"
Test in production: https://github.com/icgc-argo/platform-ui/issues/1069

[2020-03-05 19:05] akachru-github commented on #1183
@kcullion did we decide this a hotfix ticket?

[2020-03-05 19:07] kcullion commented on #1183
I think @hlminh2000 was going to do this as a hotfix

[2020-03-05 19:07] akachru-github commented on #1183
In that case, marked this as high priority in zenhub.

[2020-03-05 19:18] hlminh2000 commented on #1183
going to deploy as hotfix now :) thanks!

[2020-03-05 19:26] kcullion opened #1191 "🐛 Sample registration isn't working"
## Describe the bug
Sample registration is failing in Production.

## Steps To Reproduce

Steps to reproduce the behaviour:
1. sample registration
2. upload a file
3. register samples
hangs on:
<img width="1568" alt="Screen Shot 2020-03-05 at 2 17 10 PM" src="https://user-images.githubusercontent.com/18424138/76017836-4076a980-5eed-11ea-82db-556abce32ebd.png">

## Expected behaviour
Samples should

[2020-03-05 22:38] hlminh2000 opened #1195 "test 1191"
test https://github.com/icgc-argo/platform-ui/issues/1191 in prod

[2020-03-05 22:39] hlminh2000 opened #1196 "test 1183"
test https://github.com/icgc-argo/platform-ui/issues/1183 in production

[2020-03-06 02:35] kcullion commented on #1183
looks good @hlminh2000  thanks!

[2020-03-06 02:46] kcullion commented on #1191
@hlminh2000 it works for me now, thanks!

[2020-03-06 02:46] kcullion commented on #1069
looks good in prod!

[2020-03-06 14:57] kcullion commented on #628
@christinayung I had a look and this looks good in QA. Can you give one final test to see if it's what you wanted: https://github.com/icgc-argo/platform-ui/issues/628

[2020-03-06 15:20] kcullion opened #1198 "Fix links to dictionary"
These links should link to the dictionary table and use the correct UI kit link style

- [ ] when submission is invalid because of dictionary changes:

<img width="1326" alt="Screen Shot 2020-03-06 at 10 10 41 AM" src="https://user-images.githubusercontent.com/18424138/76096367-fac0ec00-5f93-11ea-86b4-e0828fe71301.png">

EXAMPLE OF NOTIFICATION HAPPENING:
https://platform-ui.qa.argo.cancercollabor

[2020-03-06 16:41] christinayung commented on #628
Tested.  Good to go

[2020-03-06 20:11] kcullion commented on #1135
tested and looks good in prod

[2020-03-06 20:15] kcullion commented on #1131
tested in Production..looks great!

[2020-03-06 20:17] kcullion commented on #1126
trested in Prod...looks good!

[2020-03-06 20:17] kcullion commented on #1108
tested in prod, looks good!

[2020-03-06 20:25] kcullion commented on #628
tested in production, looks good to me

[2020-03-06 20:30] kcullion commented on #1110
tested in production, looks good!

[2020-03-06 20:31] kcullion commented on #1183
looks good in production!

[2020-03-06 20:32] kcullion commented on #1111
looks good in prod!

[2020-03-09 22:10] rosibaj commented on #1183
verified on production environemnt - i can login/logout and navigate to profile pag.

[2020-03-09 22:10] #1183 closed

[2020-03-09 22:11] rosibaj commented on #1131
verified in production

[2020-03-09 22:11] #1131 closed

[2020-03-10 17:34] rosibaj commented on #1191
tested on production - was able to successfully register data in RAWR-CA

[2020-03-10 17:34] #1191 closed

[2020-03-10 17:50] #1069 closed

[2020-03-10 17:52] rosibaj commented on #1135
tested and looks good in prod

[2020-03-10 17:52] #1135 closed

[2020-03-10 17:52] rosibaj commented on #1126
tested in prod - lgtm!

[2020-03-10 17:52] #1126 closed

[2020-03-10 17:54] rosibaj commented on #1111
tested in prod lgtm!

[2020-03-10 17:54] #1111 closed

[2020-03-10 17:57] rosibaj commented on #1108
tested in prod can see the token all the tiem now.  lgtm thanks @anncatton !

[2020-03-10 17:57] #1108 closed

[2020-03-10 17:57] rosibaj commented on #628
lgtm in prod!

[2020-03-10 17:57] #628 closed

[2020-03-10 18:00] #1116 closed

[2020-03-10 19:24] hlminh2000 opened #1200 "Registration / Submission file limit"
There's a limit to how big a file we can accept for registration / submission (configurable, but needs to be set). If too big a file is submitted, kubernetes ingress will fail the request. We need to handle this.

## Possible Implementation
1) ui might need to statically communicate this limit.
2) if an upload fails for this reason, show a toast

[2020-03-10 20:37] anncatton commented on #1071
Display was failing due to a groups request to ego that was admin-scoped. Will add a DACO-specific permission instead of relying on groups.

[2020-03-10 21:04] #1196 closed

[2020-03-10 21:05] #1189 closed

[2020-03-10 21:09] rosibaj commented on #1110
lgtm - links are removed for collaborators.

[2020-03-10 21:09] #1110 closed

[2020-03-10 21:09] #1125 closed

[2020-03-11 13:32] rosibaj commented on #940
@anncatton i have been testing this the past few days and so far it looks good to me!  I think you had said there was one one issue with the join flow, but it looked correct to me.  is there another ticket to link here?

[2020-03-11 13:52] wajiha-oicr commented on #1049
@kcullion , alternatively, we can make the word alternate between `have` and `has`. There's already logic in place that makes the the word alternative between `sample` or `samples` when just 1 was registered, so extending that that would be easy.

Let me know what you think!

[2020-03-11 14:07] anncatton commented on #940
Found one issue with redirect: https://github.com/icgc-argo/roadmap/issues/314

[2020-03-11 17:59] rosibaj commented on #1071
Tested on QA - i made my user (rosi.bajari) which is in DACO group USER in ego.  I was able to successfully login to the QA platform and see the green checkmark on DACO access.

lgtm @anncatton !

[2020-03-11 19:30] christinayung opened #1207 "Case insensitivity when comparing email addresses"
![image.png](https://images.zenhubusercontent.com/5bbe9c22307bc60241e3aa93/b6fa4e07-1d6d-45cc-ad37-14824e211914)

[2020-03-12 13:09] #1195 closed

[2020-03-12 13:13] rosibaj commented on #919
@anncatton can you please update the implementation details in the ticket above based on the recent DACO policy changes?

[2020-03-12 13:37] rosibaj commented on #271
this is no longer needed - it has been updated in other tickets

[2020-03-12 13:37] #271 closed

[2020-03-12 14:14] #940 closed

[2020-03-12 16:25] rosibaj commented on #1200
redsign specs when technical limitations have been discovered

[2020-03-12 17:21] kcullion commented on #1049
@wajiha-oicr thanks for pointing that out. I think @rosibaj and I compared it to another toast message and that's how we did that one. So we can keep it general like the ticket states.

[2020-03-12 18:04] wajiha-oicr commented on #1049
So it should **always** say `# new registered sample(s)` right?

The ticket says "for when a user just registers just 1", but the text kind of insinuates it's a message for all cases.

[2020-03-12 18:06] kcullion commented on #1049
@wajiha-oicr yes that's right. So it could be
1 new registered sample(s)
3 new registered sample(s)

in your description above does that mean you can add or remove the s at the end?
like
1 new registered sample
3 new registered samples

[2020-03-12 18:09] wajiha-oicr commented on #1049
@kcullion, yup the plural/ singular case can easily be applied conditionally.

So I'll change the message to not end with `(s)` and instead apply the `s` to the word `sample` conditionally, as you have it written

[2020-03-12 18:11] kcullion commented on #1049
@wajiha-oicr that'd be great thanks!
So
1 new registered sample
3 new registered samples

[2020-03-12 19:10] rosibaj opened #1209 "Robots.txt for platform"
- Need robots.txt for crawlers
- must be a next js standard

Use icgcs template:
https://dcc.icgc.org/robots.txt

[2020-03-12 22:04] rosibaj commented on #1019
@wajiha-oicr this looks great! no feedback for now.

[2020-03-13 15:18] kcullion commented on #1019
looks awesome @wajiha-oicr !

[2020-03-13 15:21] wajiha-oicr commented on #1019
props to you for the lovely looking design !

[2020-03-13 15:22] kcullion commented on #1019
awe thanks @wajiha-oicr !

[2020-03-13 17:01] rosibaj commented on #1207
@P-Saha this looks good now!  thank you!

[2020-03-13 19:14] hlminh2000 commented on #1162
Recreate on dev:
- submit this file on program `MINH-CA`: https://drive.google.com/open?id=1r5qTHmUJNBmZO_Z0H1_c6WgImmbyoG7r
- submit this file on same program: https://drive.google.com/open?id=1pWei0wUeyrJYM73ZeVjjrD3TVt4jFgW4

[2020-03-16 13:13] kcullion commented on #1049
looks great to me on QA. Thanks @wajiha-oicr !

[2020-03-16 14:41] wajiha-oicr commented on #1154
found some odd caching behaviour, moving back to in progress

[2020-03-16 15:09] kcullion commented on #1162
I tested this on QA with a donor file. Seems to be good now! Thanks @hlminh2000

[2020-03-16 18:45] rosibaj commented on #1019
tested on prod - static ui is not visible atm!

[2020-03-16 18:45] #1019 closed

[2020-03-16 18:47] rosibaj commented on #1207
tested on production - case sensitivity in email add is no longer visible.

[2020-03-16 18:47] #1207 closed

[2020-03-16 18:48] rosibaj commented on #1072
tested on prod deploy - cannot add the same email address in modal, or an email address that has already been added.

[2020-03-16 18:48] #1072 closed

[2020-03-16 18:49] rosibaj commented on #1071
Tested on production - my DACO access is now correctly visible on the production environment for accounts with/without DACO access..

[2020-03-16 18:49] #1071 closed

[2020-03-17 13:35] anncatton commented on #1167
@rosibaj @kcullion when you test this, can you verify that the submission state goes from validated to pending approval properly? This happened when I was testing in dev/qa but I cannot reproduce

[2020-03-17 13:49] kcullion commented on #1167
@anncatton I thought this bug was for when the submission was going from pending approval to approved and blank submission.

[2020-03-17 13:53] anncatton commented on #1167
Correct. But you still have to go through all the steps to test, and I noticed once or twice that the state did not update to `pending approval` (show the Approve button) properly. But I couldn't reproduce after.

[2020-03-17 14:33] kcullion commented on #1162
@hlminh2000 as per slack, I found that prior_malignancy field acting up.  Try different things with it. Uploaded files
https://drive.google.com/drive/u/0/folders/1Iro7u44GAoIcSCa0LDe7nZGjE9wygH1J
https://drive.google.com/drive/u/0/folders/1Iro7u44GAoIcSCa0LDe7nZGjE9wygH1J
https://drive.google.com/drive/u/0/folders/1Iro7u44GAoIcSCa0LDe7nZGjE9wygH1J

(change ids maybe)

[2020-03-17 14:43] rosibaj opened #1221 "🐛 Cannot add new institutions."
## Describe the bug
Cannot add new institutions on production:
https://drive.google.com/file/d/1rXiW5iqT-q87l_c2w9AYpeOmbH5zxDL2/view

Cannot add new institution on QA:
https://drive.google.com/file/d/1ct7Pcvyc_spyq2XHZyObnEdrlMX_1xWI/view
## Steps To Reproduce

Steps to reproduce the behaviour:
1. Go to any program
2. Erase all institutions and add a new institution
3. Scroll down to click save.

[2020-03-17 14:48] kcullion commented on #1162
Also @hlminh2000 in this case, I didn't change prior_malignancy or age_at_prior_malignancy for KIM-39. So these cells shouldn't be shaded for that donor
<img width="1238" alt="Screen Shot 2020-03-17 at 10 47 05 AM" src="https://user-images.githubusercontent.com/18424138/76868149-de973780-683c-11ea-857c-f313acb9dbc4.png">

[2020-03-17 14:52] kcullion commented on #1167
@anncatton I tested this and everything seems to be working as expected with the submission state and the refresh. thanks

[2020-03-17 15:51] kcullion opened #1222 "Success Toasts: Text change for dashboard updates"
In order to notify the user that the dashboard data will update, we will add a sentence to both toasts:

- [ ] Success when user registers samples. The copy becomes

**2 new registered samples**
You will see the updates on your dashboard shortly. If you have any changes to this registered sample data, please contact the DCC.

- [ ] Success when user submits clinical data. The copy becomes

**Succe

[2020-03-17 18:36] #1134 closed

[2020-03-17 18:36] kcullion commented on #1134
closing so we can focus on the new layout: https://github.com/icgc-argo/platform-ui/issues/336

[2020-03-17 19:47] kcullion opened #1227 "Footer: fix links breaking onto two lines"
The footer links don't need to break onto two lines, until there's at least 100px between the copy on the left and the links on the right.

<img width="955" alt="Screen Shot 2020-03-17 at 3 46 15 PM" src="https://user-images.githubusercontent.com/18424138/76895500-837a3a80-6866-11ea-86ac-18a3ef8a7a2b.png">

[2020-03-18 18:07] P-Saha opened #1229 "🐛 Clicking options on contact page dropdown does nothing."
## Describe the bug
When trying to use send a message and selecting an option from "What do you need assistance with?", nothing happens, as if nothing was selected.

## Steps To Reproduce
Both in qa and dev.
Navigate to:
https://platform-ui.dev.argo.cancercollaboratory.org/contact
https://platform-ui.qa.argo.cancercollaboratory.org/contact

Steps to reproduce the behaviour:
In send message box, cl

[2020-03-18 20:59] kcullion opened #1230 "Update Email invite text"
In the email invitation, please change this sentence
Joining a program means you will have permission to access program data, provided that you also have DACO approval.

To:
**Joining a program means you will have permission to access, submit or download program data, depending on your program role**

[2020-03-19 17:59] anncatton opened #1233 "Inconsistent error catch for requests for non-existent programs when dcc-admin"
Client code is not always throwing a 404 when a request is made for a non-existent program.
- only happens on a hard page reload with dcc-admin access. Same scenario will cause a 403 for a non dcc-user because they do not have access
- graphql response is correct, program is null:
![image.png](https://images.zenhubusercontent.com/5db070c75e806700019cb512/7ab522aa-7843-4cc9-84b5-193f7fa564b7)
When

[2020-03-20 18:02] rosibaj commented on #1167
@anncatton ive tested a few times and im not able to any issues with the approve button not appearing on qa.

this lgtm! I will move for release.  thanks @anncatton !

[2020-03-20 18:10] rosibaj opened #1240 "Data Hookup - Gateway to Top Dashboard Stats"
The stats on the top of the dashboard can now be connected to the gateway
Using the new `donorSummary` schema, hook up the dashboard summary card to the platform api

QUERY:
[code]
![image](https://user-images.githubusercontent.com/15824252/77203854-dd2d6f80-6ac7-11ea-992f-c8c2946de260.png)

[2020-03-20 18:15] hlminh2000 commented on #1162
@kcullion thanks for the testing files :) problem fixed!

[2020-03-20 18:40] hlminh2000 opened #1242 "Integrate with backend for reCapcha"
needs to call mutation created by https://github.com/icgc-argo/platform-api/issues/166

[2020-03-20 19:07] kcullion commented on #1154
@wajiha-oicr as we discussed in slack, I'm just seeing that the error icon is missing when uploading a failed file in some programs (it happened in KIMC-CA and LUCA-KR

<img width="706" alt="Screen Shot 2020-03-20 at 2 02 05 PM" src="https://user-images.githubusercontent.com/18424138/77197964-76ef1f80-6abc-11ea-8b50-1f7e796b6004.png">

[2020-03-20 19:29] kcullion opened #1243 "Dashboard card styling updates"
- [x] For Program Workspace Status: so the progress bars fit consistently, please break the labels onto two lines and use the "caption" font style which has font-size:11px

<img width="424" alt="Screen Shot 2020-03-20 at 3 33 07 PM" src="https://user-images.githubusercontent.com/18424138/77199994-1e218600-6ac0-11ea-92e4-0355d1f57678.png">

- [x] For Donor Release Summary, put the "committed donor

[2020-03-20 20:33] kcullion commented on #1162
@hlminh2000 I tested with a new file and I'm still noticing the new values vertically centering within the two cells:
<img width="521" alt="Screen Shot 2020-03-20 at 4 27 13 PM" src="https://user-images.githubusercontent.com/18424138/77203978-2251a180-6ac8-11ea-935e-2fa91aeda759.png">
The new test files can be found in on the google drive: Icgc-argo/testing files/Platformui-1162/

[2020-03-20 20:55] wajiha-oicr commented on #1154
@kcullion I think I've found out how to recreate the error consistently.

The error state **does not** show up in the side tab if the first file you upload is an invalid file.
It **will** show up if you upload a file in a clinical submission that already has 1+ valid files uploaded uploaded.

[2020-03-20 21:08] rosibaj commented on #919
i can  see the yes appearing correcrlt now!

![image](https://user-images.githubusercontent.com/15824252/77206449-61362600-6acd-11ea-9d00-7e981085f264.png)

lgtm thanks @jaserud !

[2020-03-20 21:10] rosibaj commented on #1227
lgtm thanks @P-Saha !

[2020-03-20 21:11] jaserud commented on #919
Note: The back end changes for this ticket were released in program service 1.2.0 and gateway 1.6.4. These will need to deployed along with UI version 1.9.7 for this to work in other env.

[2020-03-20 21:22] kcullion commented on #1154
@wajiha-oicr interesting.always that n+1 error eh.  Do you want to try and tackle this bug? Or shall we make a new ticket?

[2020-03-20 23:24] hlminh2000 commented on #1162
@kcullion thanks so much for the test again! Updated! was a very subtle css issue...

[2020-03-23 13:02] wajiha-oicr commented on #1154
Don't think another ticket is needed, I think I was able to find a fix for this which I also just tacked onto this ticket for convenience's sake.

[2020-03-23 16:02] kcullion commented on #1162
@hlminh2000 @rosibaj  I've tested this with a couple files and it seems to be fixed now!!! Thanks :)

[2020-03-23 18:24] wajiha-oicr commented on #1154
@kcullion the side menu bug's fix is in QA now, ready to be tested

[2020-03-23 19:34] rosibaj commented on #1222
tested on qa- lgtm thanks @P-Saha

[2020-03-23 19:37] rosibaj commented on #1154
tested on qa - i can see the invalid tab being selected
- when i have only error files
- when i have 1 or more than 1 good files

i see teh correct status in the side bar, and the table.

@kcullion can you give this one a final test as well please?

[2020-03-23 19:59] kcullion commented on #1154
@rosibaj @wajiha-oicr I now see the error icon in the sidebar. Thanks!!

[2020-03-23 20:57] kcullion commented on #336
@P-Saha some css updates so user can see more of the form on a smaller screen.

- [ ] footer does not need to be fixed to the bottom of the screen. It's ok if the user has to scroll down to see the footer (like the other pages such as privacy page)
- [ ] The form shouldn't be vertically centering on the page. have a fixed gap beween the top of the form and the header - and an equal gap on the left

[2020-03-23 21:05] kcullion commented on #336
@P-Saha the new subjects for the form dropdown are:

Applying for Access to Controlled Data through DACO
Data Download
Data Submission
Data or Analysis Inquiry
Media or Collaboration Inquiry
Publication Inquiry
Other

[2020-03-23 21:43] kcullion opened #1256 "Update content for Privacy page"
Update the content for the privacy page:
https://platform.icgc-argo.org/privacy

[2020-03-23 21:45] kcullion opened #1257 "Update links for the footer to link to icgc-argo.org"
Footer links:
- remove the /privacy page and instead link "Privacy Policy" to: https://www.icgc-argo.org/page/2/privacy
- link Terms and Conditions to: https://www.icgc-argo.org/page/1/terms-and-conditions
- link Publication Policy to: https://www.icgc-argo.org/page/77/e3-publication-policy

(all links will open in a new tab)

[2020-03-24 16:56] kcullion opened #1258 "Submission+Registration tables - column widths"
So that the user doesn't have to resize the columns to see more of the values, please set the width of the column to be the width of the longest value of that column, up to a max # of 35 characters

When, values has >35 characters, the value will get a "..." at the end. Similar to how the table headers work now, if the user resizes that column, the ... will disappear and show the full value, once

[2020-03-24 18:27] #1258 closed

[2020-03-24 18:28] kcullion commented on #1258
Discussed with Rosi and Minh - can revisit later.

[2020-03-24 20:20] kcullion commented on #1166
@rosibaj I tested this again and it doesn't seem to be happening anymore, probably from what @hlminh2000 fixed in 1162. Closing

[2020-03-24 20:20] #1166 closed

[2020-03-24 20:22] rosibaj commented on #1166
thanks @kcullion ! i thought htis one was probably a duplicate!

[2020-03-25 18:07] kcullion commented on #336
@P-Saha can you change "Data or Analysis Query" in the dropdown to "Data or Analysis Inquiry" to be consistent with the service desk topics.

@rosibaj this looks good to me on my laptop. Can you check your screen size?

[2020-03-25 18:32] P-Saha opened #1263 "Inconsistent ReCAPTCHA on contact page"
## Describe the bug
Recaptcha is not appearing consistently in QA environment.
You have to refresh multiple times for it to appear.

## Expected behaviour
Recaptcha should always appear on the contact page.

[2020-03-25 19:40] rosibaj opened #1264 "Beta-Feedback: No validation error on incorrectly formatted TSV file"
## Detailed Description
- A beta user submitted this tsv file:
https://drive.google.com/drive/u/1/folders/1Dh7Wcly50kmRnEz184kpKM14GQzMUbCg
- Nothing at all happened on the UI.
- When i uploaded the file, I can see these errors:
[code]

Something about this file is just totally had an issue. (looks like they put their values where the column headers used to be - so they have a mixture of column he

[2020-03-25 21:16] rosibaj commented on #336
lgtm thanks @P-Saha @kcullion !

[2020-03-25 22:31] rosibaj opened #1265 "Static UI: File Repository Table"
spec: https://wiki.oicr.on.ca/pages/viewpage.action?spaceKey=icgcargotech&title=File+Repository+Specification

**Logged out**
![image](https://user-images.githubusercontent.com/15824252/77594569-40a30d00-6ecd-11ea-8de6-13f099c6cc2c.png)

**Logged in**
![image](https://user-images.githubusercontent.com/15824252/77594762-c1fa9f80-6ecd-11ea-8126-71e7ba4c79cd.png)

Please note
- that the sort has been

[2020-03-25 22:31] rosibaj opened #1266 "Static UI: File Repo Charts"
- [x]  Pick a charting library or build yourself? pls decide!
- [ ] Implement the bar chart graph card in storybook first.
- [ ] tooltips for charts

![image](https://user-images.githubusercontent.com/15824252/77594388-ca9ea600-6ecc-11ea-81ce-7276531bead9.png)

**Zeplin Link**
https://zpl.io/VxeZeyR
Tooltips: https://zpl.io/VQ8Xql4

Specs: https://wiki.oicr.on.ca/pages/viewpage.action?spaceKey=icg

[2020-03-25 22:32] rosibaj opened #1267 "Static UI: Facet Search Components"
- [ ] https://dcc.icgc.org/repositories?files=%7B%22from%22:1,%22size%22:25%7D
This is an example of all the interactions listed.
- [ ] Implement the facet component in the  storybook:
![image](https://user-images.githubusercontent.com/15824252/77610653-ac9b6a80-6ef9-11ea-9b1c-4a9bc6018c81.png)

[2020-03-25 22:32] rosibaj opened #1268 "Static UI: Page Initialization for File Repo"
- [ ] Create the file repository page in the application
![image](https://user-images.githubusercontent.com/15824252/77594520-1c473080-6ecd-11ea-9c0d-7a0ff96e1bd6.png)
- [ ] Make sure it is hidden behind feature flag
- [ ]  Add table, facets, and chart components from storybook

[2020-03-25 23:03] rosibaj opened #1269 "Static UI: Summary Chart"
![image](https://user-images.githubusercontent.com/15824252/77662630-80f89e80-6f52-11ea-9c79-883b1a930825.png)

- add to storybook
- don't worry about exact data; just make the component take a list of key/value pairs and display those in the order provided (arrya of objects each object with value + number)
- 2 column list where each is approximate the same height

@rosibaj please add a list of fi

[2020-03-25 23:03] rosibaj opened #1270 "Static UI: Donor File Count Card"
- [ ] Implement the file count card in storybook (both with files and without files)
![image](https://user-images.githubusercontent.com/15824252/77609919-adcb9800-6ef7-11ea-84db-3511df043dfc.png)

**Zeplin Link**
With files: https://zpl.io/V1n0ZJm
No files (top buttons disable): https://zpl.io/be0Rg7N

[2020-03-25 23:03] rosibaj opened #1271 "Static UI: Donor Summary Card"
- [ ] Implement the Donor Summary Card in story book
![image](https://user-images.githubusercontent.com/15824252/77610105-2fbbc100-6ef8-11ea-903b-73593d2e89d9.png)

These stats should be the same as available on the Dashboard summary.
**Zeplin Link:**
Less data has been submitted: https://zpl.io/be0Rg7N
More data has been submitted: https://zpl.io/V1n0ZJm

[2020-03-25 23:04] rosibaj opened #1272 "Static UI: Donor Clinical Display"
Create the field Donor Clinical Timeline Display in storybook:

![image](https://user-images.githubusercontent.com/15824252/77610841-39debf00-6efa-11ea-9000-024750d3b6b1.png)

Note for timeline checkbox filters.  Just use the singular version of these words. Eg:
1 Primary Diagnosis   1 Specimen    2 Treatment     3 Follow up
(the mockups will show a combination of singular and plural)
<img width="

[2020-03-25 23:19] rosibaj opened #1273 "Data Hookup: Gateway to Table"
- Connect the gateweay api to the file repository table.
- remove the links on the donor/file columns for now as they do not lead anywhere

[2020-03-25 23:20] rosibaj opened #1274 "Data Hookup: Gateway to Charts"
Connect the charts ont he file repo page to the gateway data

[2020-03-26 05:19] rosibaj commented on #822
@joneubank @kcullion are you guys still seeing this issue?  I am unable to replicate on windows + chrome?

[2020-03-26 05:21] rosibaj commented on #904
@hlminh2000 @anncatton is this still valid? is it still happening since we updated the login flow?

[2020-03-26 05:30] joneubank commented on #822
@rosibaj Cannot reproduce in dev... I am testing by shrinking the window to give the scroll bar. might need many more programs to see the problem. Would be interesting to generate a bunch of test programs and see if we have the issue.

[2020-03-26 05:31] rosibaj commented on #1229
Closing this issue as it is not a bug - the form hookup has not be done yet so this will be handled with that #290

[2020-03-26 05:32] #1229 closed

[2020-03-26 13:14] kcullion commented on #822
@rosibaj @joneubank I dont think I see this issue either. I did notice when you make your screen small and scroll the sidebar, then scroll the main program table area - the sidebar scrolls up more so that the bottom of it isn't inline with the bottom of the browser. Probably an edge case though.
<img width="894" alt="Screen Shot 2020-03-26 at 9 14 34 AM" src="https://user-images.githubusercontent.

[2020-03-26 14:49] rosibaj opened #1700 "Add form utils (validation) to contact page"
- adding the form util captures the data that is input
- add the validations (required fields, and email validation)

[2020-03-26 16:54] #1256 closed

[2020-03-26 21:24] rosibaj commented on #1154
tested on prod - priority is being determined correctly on clinical tabs.
lgtm.

[2020-03-26 21:24] #1154 closed

[2020-03-27 14:52] wajiha-oicr commented on #1243
Hi @kcullion,

These changes are in dev, the text for the workplace status card is less wide.
<img width="389" alt="in dev" src="https://user-images.githubusercontent.com/59613607/77767948-2cb7f200-7018-11ea-91fe-bb5f0df04a8b.png">.

However, I think the entire purpose of this change was to stop the progress bar from getting cramped, especially when getting to the locked state. Despite the changes

[2020-03-27 14:53] kcullion commented on #1243
@wajiha-oicr this looks great thanks! Will this just happen for the dashboard card? Like on the actual submission, the "pending approval" item can span one line in that top bar.

[2020-03-27 14:55] wajiha-oicr commented on #1243
@kcullion yes it's a custom width for the dashboard card

[2020-03-27 14:56] kcullion commented on #1243
@wajiha-oicr ok please  do what you're suggesting! Thanks :)

[2020-03-27 15:24] rosibaj commented on #822
ok - since its not reproducible i am going to close this issue for now.

[2020-03-27 15:24] #822 closed

[2020-03-27 15:59] rosibaj commented on #1049
verified on prod - lgtm

[2020-03-27 15:59] #1049 closed

[2020-03-27 15:59] rosibaj commented on #919
verified on prod RAWR-CA program - lgtm.

[2020-03-27 15:59] #919 closed

[2020-03-27 19:10] rosibaj commented on #1227
verified on prod! lgtm!

[2020-03-27 19:10] #1227 closed

[2020-03-27 19:10] #1162 closed

[2020-03-27 19:10] #336 closed

[2020-03-27 19:10] #1222 closed

[2020-03-27 19:11] #1167 closed

[2020-03-27 21:53] hlminh2000 opened #1283 "Updating submission and registration status indicator to run on a smaller query"
The indicator in the dashboard is currently rendering off the `CLINICAL_SUBMISSIONS_QUERY` which includes all the of the entire outstanding submission. This is very slow when there is a lot of data outstanding in the submission. We should update the component to use a smaller query.

![Screen Shot 2020-03-27 at 5.34.08 PM.png](https://images.zenhubusercontent.com/5a69f6494b5806bc2bc447b7/d946471b-

[2020-03-30 13:59] wajiha-oicr commented on #1243
@kcullion you can test this change in QA now. MINH-CA is a program in the pending approval state so you can check there especially.

[2020-03-30 14:20] kcullion commented on #1243
Both of these updates look great! thanks @wajiha-oicr
@rosibaj I'll leave this ticket for you to have a look

[2020-03-30 14:33] rosibaj commented on #1243
lgtm - thanks @wajiha-oicr @kcullion

[2020-03-31 18:34] jaserud opened #1287 "Update donor submission summary table query variables to use es features"
since gateway has been connected to elastic search: https://github.com/icgc-argo/platform-api/issues/168, we need to update UI donor data submission queries to use pagination, sort and filter options

## Detailed Description
- Ordered data by default by last updated
- The query needs to be updated to use the query variables.
- Make any required UI updates

[2020-03-31 18:35] jaserud commented on #1132
currently the table only shows 20 donors. The queries need to be updated to make use of pagination, sort, and filter from gateway: https://github.com/icgc-argo/platform-ui/issues/1287

[2020-04-01 13:35] kcullion opened #1289 "DNA loader is inconsistent"
Currently when I click on a page to load (a program dashboard for example), the page loads empty for a second, then the screen dims and the dna loader appears, then the loader fades out and the data appears.

Then sometimes I see the dashboard page just load and just the dna loader appears over the component that is loading, like the donor table on the dashboard.

And sometimes the loader doesn't

[2020-04-01 13:51] kcullion commented on #1257
@anncatton @rosibaj this one looks good to me!

[2020-04-01 14:07] rosibaj commented on #1257
lgtm thanks @anncatton

[2020-04-01 14:11] rosibaj opened #1291 "New dictionary banner"
- [ ] When the submitter doesn't have an invalid submission and just needs to be notified that the dictionary is updated, this link exists in this blue banner too. *** I'm not sure if this banner has been implemented yet??
<img width="1178" alt="Screen Shot 2020-03-06 at 11 37 39 AM" src="https://user-images.githubusercontent.com/18424138/76103083-154c9280-5f9f-11ea-8e42-03db5a47d05c.png">

[2020-04-01 14:11] wajiha-oicr opened #1292 "🐛 Fix Column Sorting on Summary Donor Table for Core & Extended Fields"
## Describe the bug
- The column sorting for the core and extended fields doesn't seem to be correctly sorting the numbers in ascending/descending order

## Steps To Reproduce
Go to a donor summary table and click on the column headers for core or extended fields and observe that there seems to be a random sort

## Expected behaviour
- Within the table, the column cell's 'accessor' property is sti

[2020-04-01 14:13] wajiha-oicr commented on #1292
@rosibaj I think the fix for this is straightforward (written in description). I can bundle it with my file repository table ticket when it's ready, or it could be done as a separate PR.

[2020-04-01 14:28] wajiha-oicr commented on #1198
Hi, I can recreate the link leading to the wrong place, but the link style looks okay to me...
![image](https://user-images.githubusercontent.com/59613607/78148979-7aab6c00-7403-11ea-9566-a036fb862ada.png)

Is there something I'm missing about the style?

[2020-04-01 14:31] kcullion commented on #1198
@wajiha-oicr I forget where I saw that. But sometimes when the link is blue it means the link isn't using the UI link component. @P-Saha had to format the links to use the component so it used the right styles. Priyonto, maybe you fixed this styling already?

[2020-04-01 14:41] wajiha-oicr commented on #1240
from @hlminh2000 's program MINH-CA in dev

- maybe we could benefit from passing the numbers into a rounding function before displaying them?
- the number of committed donors was 2, but Minh went really above and beyond and registered 2501. since those two numbers are not equal to one another, it's showing up as an orange bar. but I figure if the percentage is over 100% that probably also qualifi

[2020-04-01 14:54] rosibaj commented on #1292
@wajiha-oicr added to sprint - as this is one a different page, please do it as a separate PR to make testing easier.

[2020-04-02 13:41] jaserud commented on #1264
I'm closing this because it is replaced by this one: https://github.com/icgc-argo/argo-clinical/issues/455. They are the exact same just moved to `clinical` repo

[2020-04-02 13:41] #1264 closed

[2020-04-02 18:03] jaserud commented on #1221
closing because ticket is moved to program service: https://github.com/icgc-argo/program-service/issues/318. Content of ticket is exactly the same

[2020-04-02 18:03] #1221 closed

[2020-04-02 20:36] kcullion opened #1300 "Static UI Dashboard: Donor table download buttons"
We need to implement 3 buttons on the donor table:
Zeplin: https://zpl.io/V4dd110
- [ ] Download All Clinical Data
- [ ] Download Missing Data (contains all donors and only what fields they are missing)
- [ ] Download Summary Table (just the data from the table)

<img width="480" alt="Screen Shot 2020-04-03 at 10 15 25 AM" src="https://user-images.githubusercontent.com/18424138/78370017-10760100-7

[2020-04-03 13:19] wajiha-oicr commented on #1265
@kcullion just curious, is the upper/lower bar replacement for sort going to be a change you'd like for all tables? or just for this one in particular?

[2020-04-03 13:29] rosibaj commented on #1265
@wajiha-oicr its a replacement for all tables.

[2020-04-03 13:29] kcullion commented on #1265
Yeah @wajiha-oicr it's for the table component - because eventually we will have a filter in the spot where the up/down arrows are

[2020-04-03 13:30] wajiha-oicr commented on #1265
thanks guys!

[2020-04-04 17:25] ciaranschutte commented on #619
@kcullion Can you please shoot me a link to this styleguide ?

[2020-04-04 17:39] kcullion commented on #619
@ciaranschutte I put this page of the guide in zeplin: https://zpl.io/VDZvzgg
But I'm not sure the values that I've labeled are the same as what zeplin will say. Maybe try to go with the description on this page?

Here's the typography sheet too: https://zpl.io/bo8ZKqW

[2020-04-04 17:39] ciaranschutte commented on #619
@kcullion great thank you!

[2020-04-06 16:05] akachru-github opened #1302 "OICR IT Internal Scan Vulnerabilities for ARGO Platform"
Below are the results of the OICR IT scan:

![image.png](https://images.zenhubusercontent.com/5d55b1b74d335f147c3e6dc0/63057dae-0db4-4949-a4a4-b816709e2f0b)

Issue:
HTTP Request Smuggling

Severity:
HIGH

Confidence:
Tentative

Host:
https://platform.icgc-argo.org

Path:
![image.png](https://images.zenhubusercontent.com/5d55b1b74d335f147c3e6dc0/d2aef365-03ef-4951-874e-6a7ed881bd3f)

**Issue descri

[2020-04-06 21:16] rosibaj commented on #1132
table looks great! Data is flowing in correctly thanks @jaserud

[2020-04-06 21:22] rosibaj commented on #1240
@P-Saha  a few comments:
1. For the dashboard numbers, lets remove the decimal entirely and round to the nearest whole number:
![image](https://user-images.githubusercontent.com/15824252/78606241-fbff6600-782a-11ea-9e3d-47dc6a105dc3.png)
2.  As @wajiha-oicr suggested, if the value is 100% or > 100%, the bar should be green, not orange.

[2020-04-06 21:23] rosibaj commented on #1292
tested on QA - i see the sort correctly wokring now.  thanks @wajiha-oicr !

[2020-04-07 20:12] wajiha-oicr commented on #1265
https://argo-ui-storybook.netlify.com/?path=/story/components-pages-file-repository-filetable--basic

This is the version of this being in "qa"

[2020-04-07 20:31] kcullion commented on #1265
@wajiha-oicr this looks awesome!
Question, can we have a default sort (so the blue stroke at the top would be on that column)? I think in this case it would be on File ID. Maybe that's not set in storybook though.

We also had the count look like: 1-20 of 11,350 files (depending on how many files they are viewing at once)

[2020-04-07 20:32] rosibaj commented on #1265
@kcullion Question, but whats the value of this sort?

[2020-04-07 20:33] kcullion commented on #1265
@rosibaj that's what current ICGC did. Would you rather a different default sort?

[2020-04-07 20:34] rosibaj commented on #1265
I think that's an API level sort, not a frontend sort

[2020-04-07 20:35] wajiha-oicr commented on #1265
Hi Kim, sorry I forgot to mention this but the count that says 1-20 of 11,350 requires info from the pagination, which I believe is still partially 'under construction'. So I think displaying it in that manner may be blocked until then.

[2020-04-07 20:36] kcullion commented on #1265
@wajiha-oicr ok sounds good!

[2020-04-07 20:37] rosibaj commented on #1265
@wajiha-oicr i see this at the bottom:
![image](https://user-images.githubusercontent.com/15824252/78717114-19e1cf00-78ee-11ea-9217-38bab6a343e5.png)

[2020-04-07 20:39] wajiha-oicr commented on #1265
Yeah I have that there as a temporary place to show which files have been selected. It's meant for demonstration purposes (i.e. intended to be removed during implementation).

If you select and unselect files that array should be keeping track.

[2020-04-07 20:40] wajiha-oicr commented on #1265
If it's preferred not to be there I can just remove it :)
![image](https://user-images.githubusercontent.com/59613607/78717361-79d87580-78ee-11ea-8147-c9a96627f889.png)

[2020-04-07 20:44] rosibaj commented on #1265
well lgtm!!!!

[2020-04-07 21:26] wajiha-oicr opened #1314 "Update Upload and Download Icon"
- The UiKit upload and download icon needs to be updated to the svgs @kcullion  used in the mockups( [see icon under manifest](https://app.zeplin.io/project/5a69fad2bde6330a929157fd/screen/5e39c770cf1cdf8f1abe4097))

- the dashboard icons need to be purple

[2020-04-09 05:00] rosibaj commented on #1240
@hlminh2000 @P-Saha For this ticket, i think the connection to % tumor normal based on the graphql provided in the ticket is correct.

Why does this field already have value in elasticsearch though?  When did we add a calulation for that?

[2020-04-09 05:35] rosibaj opened #1318 "Data Connection: Download All Clinical Data - Platform Edition"
When the user clicks the `Download All Clinical` button:
- a tar zipped file should download entitled `<Program Name>_Clinical_data<Date>`. for example, `PACA-CA_Clinical_data_20200420`
- Inside the zip, there should be a set of TSV files.  There should be one TSV file per relevant clinical submission files for a program, containing all possible data for that clinical data
-- If none of a clinical

[2020-04-09 05:36] rosibaj opened #1317 "Data Connection: Dashboard Table Summary Export"

[2020-04-09 05:37] rosibaj opened #1319 "Data Connection: Missing Data Report"

[2020-04-09 05:50] rosibaj commented on #1314
@wajiha-oicr can we get this released to QA before sprint end?

[2020-04-09 12:29] wajiha-oicr commented on #1314
the release PR is up https://github.com/icgc-argo/platform-ui/pull/1315

waiting for approval from @hlminh2000

[2020-04-09 14:03] kcullion commented on #1314
This looks good to me @wajiha-oicr and @rosibaj ...I'll move it over :)

[2020-04-09 14:13] kcullion opened #1321 "Static UI: Homepage"
Build the UI for the homepage. Zeplin: https://zpl.io/2yZk3dG

- [ ] Banner: hardcode the stats for now
links:
**Browse the data** will eventually link to the File Repository (open in a same window)
**About ICGC ARGO** links to https://www.icgc-argo.org/ (open in a new window)

- [ ] 3 data callouts
links all go to documentation (open in new windows)
**How to Apply** links to https://docs.icgc-arg

[2020-04-09 15:03] blabadi commented on #1230
this need to be in program service, not UI

[2020-04-09 15:37] kcullion commented on #1230
Yes @blabadi @rosibaj I think I need someone to move that. I don't think I can

[2020-04-09 18:50] kcullion opened #1323 "Dashboard: hook up committed donors"
- [ ] each program sets a committed # of donors in the "Create a program" form. That number should show here
<img width="404" alt="committed-donors" src="https://user-images.githubusercontent.com/18424138/78930095-82a58480-7a71-11ea-842b-e0c7b1e987f7.png">

[2020-04-09 18:59] rosibaj opened #1324 "Dashboard % changes"

[2020-04-09 20:18] rosibaj opened #1325 "tracking commit table"
https://github.com/icgc-argo/platform-ui/pull/1305

[2020-04-09 20:37] kcullion opened #1326 "Contact page UI fixes"
Just the bottom feedback from this ticket: https://github.com/icgc-argo/platform-ui/issues/336

- [x] change` "Data or Analysis Query" in the dropdown to "Data or Analysis Inquiry" to be consistent with the service desk topics.

- [x] it doesn't seem like there is a margin between these two columns. Eg. at this screenwidth:
can you add 50px margin between columns (or padding within the left conten

[2020-04-13 15:10] rosibaj opened #1327 "tracking the reverted commit - dashboard stats"
https://github.com/icgc-argo/platform-ui/pull/1306

[2020-04-14 22:12] #1243 closed

[2020-04-14 22:12] #1292 closed

[2020-04-14 22:14] #1198 closed

[2020-04-14 22:14] #1209 closed

[2020-04-16 13:15] anncatton commented on #1266
The arrow style for the tooltips was added to the global tooltip, arrow position should adjust according to tooltip position.

[2020-04-16 13:25] jaserud commented on #1287
I misspoke filters is not yet ready in the gateway. There is a `fitlers` variable but doesn't do anything right now. Added ticket in gateway to implement it: https://github.com/icgc-argo/platform-api/issues/190

[2020-04-16 20:39] #1240 closed

[2020-04-16 20:40] rosibaj commented on #1257
verified on prod

[2020-04-16 20:40] #1257 closed

[2020-04-16 20:41] rosibaj commented on #1132
verified on prod dashboard

[2020-04-16 20:41] #1132 closed

[2020-04-17 14:42] rosibaj commented on #1266
lgtm!!! Thanks @anncatton !!!

[2020-04-17 14:43] rosibaj commented on #1327
lgtm decimals are removed.

[2020-04-17 15:55] rosibaj commented on #1323
tested on qa - lgtm thanks @P-Saha !!

[2020-04-17 15:56] rosibaj commented on #1326
tesed on qa - lgtm thanks @P-Saha!!!

[2020-04-20 14:26] #1324 closed

[2020-04-20 16:24] wajiha-oicr commented on #1267
Facet story
https://argo-ui-storybook.netlify.app/?path=/story/uikit-facet--basic

Integer Field display stpry
https://argo-ui-storybook.netlify.app/?path=/story/uikit-integerfielddisplay--basic

[2020-04-20 17:15] hlminh2000 opened #1339 "🐛 Limit polling to 30 seconds"
In the program dashboard, by the 30 second mark, all data should be updated already. It should stop polling to avoid triggering unnecessary token refreshes.

## Possible Implementation
create a `polling` state and set it to false in a side effect

[2020-04-20 17:26] anncatton commented on #1042
The polling on program dashboard is going to be modified here https://github.com/icgc-argo/platform-ui/issues/1339 to prevent perpetual refresh

[2020-04-20 17:51] kcullion commented on #1267
Looking good @wajiha-oicr. Some feedback
- [ ] Can you make the top and bottom padding the same for the grey count bubbles and the list items (shows on hover)
<img width="662" alt="Screen Shot 2020-04-20 at 1 39 19 PM" src="https://user-images.githubusercontent.com/18424138/79782619-60cbbd80-830d-11ea-92e9-8d16294e97b2.png">

- [ ] Semantically, I don't think the list items should be <h4> elements

[2020-04-20 18:24] kcullion opened #1340 "Static UI: Facet Search Component FEEDBACK"
Feedback for this ticket: https://github.com/icgc-argo/platform-ui/issues/1267

**Basic Facet**
- [x] Can you make the top and bottom padding the same for the grey count bubbles and the list items (shows on hover)
<img width="662" alt="Screen Shot 2020-04-20 at 1 39 19 PM" src="https://user-images.githubusercontent.com/18424138/79782619-60cbbd80-830d-11ea-92e9-8d16294e97b2.png">

- [x] By default,

[2020-04-20 22:06] P-Saha commented on #1269
https://argo-ui-storybook.netlify.app/?path=/story/components-pages-submission-system-donor-donordatatable--basic

[2020-04-20 22:07] P-Saha commented on #1271
https://argo-ui-storybook.netlify.app/?path=/story/components-pages-submission-system-donor-donorsummarystats--basic

[2020-04-21 14:20] kcullion commented on #1269
@P-Saha looks good, here's some feedback:

- [ ] use subtitle2 for the header (this may decrease space above and below the header - if not, please minimize that space a bit)
- [ ] Make space in between the tables equal to the left and right card padding

<img width="874" alt="Screen Shot 2020-04-21 at 10 15 03 AM" src="https://user-images.githubusercontent.com/18424138/79876657-51a24980-83b9-11ea-

[2020-04-21 14:35] kcullion opened #1349 "Static UI: Donor Summary Card FEEDBACK"
**Pipe component**. Please change at this level: https://argo-ui-storybook.netlify.app/?path=/story/uikit-pipe--basic
- [x]  pipes are using the wrong font. Please change in the pipe component level
- [x]  For divider line between pipe section - please change margin-right: 2px; to margin-right: 1px.

**Donor Summary Card**
- [x] Change "Raw Reads Submitted" to "Submitted Raw Reads" to be consisten

[2020-04-21 16:18] kcullion opened #1350 "Footer: change copyright to 2020"
Update to 2020 because 2019 is bad luck!

![Screen Shot 2020-04-21 at 12.17.26 PM.png](https://images.zenhubusercontent.com/5a5f5bcd4b5806bc2bc31a86/62b80b23-1cac-49e1-9f78-cb0e83f5ba70)

[2020-04-21 16:24] kcullion opened #1351 "Footer: change copyright to 2020"
Update to 2020 because 2019 is bad luck!

![Screen Shot 2020-04-21 at 12.17.26 PM.png](https://images.zenhubusercontent.com/5a5f5bcd4b5806bc2bc31a86/62b80b23-1cac-49e1-9f78-cb0e83f5ba70)

[2020-04-21 16:43] kcullion opened #1352 "Update Footer text + commit link"
Foot in the platform needs to be confirmed.
![Screen Shot 2020-04-21 at 12.17.26 PM.png](https://images.zenhubusercontent.com/5a5f5bcd4b5806bc2bc31a86/62b80b23-1cac-49e1-9f78-cb0e83f5ba70)

- [ ] Update the copyright text to 2020 because 2019 is bad luck (also, because we are publishing the Platform in 2020).
- [ ] Add the tag version to the gateway-api
- [ ] Update the footer to read the new vers

[2020-04-21 16:48] kcullion opened #1353 "🐛 Create an InteractiveIcon component to fix accessibility violations"
## Describe the bug
We are seeing accessibility violations in all components that use icons because they are labeled with `aria-describedby`.

This was implemented here: https://github.com/icgc-argo/platform-ui/commit/17c7120d069bf4d5b80bf70db8ec6835957d9c36
And is used as a reference to that tooltip custom tooltip component.  @hlminh2000 says we're barely using IDs, and this can be a case-by-case

[2020-04-21 17:24] kcullion commented on #1271
Thanks @P-Saha we started a feedback ticket for next spring: https://github.com/icgc-argo/platform-ui/issues/1349

[2020-04-21 18:41] kcullion commented on #1269
@P-Saha so the headings of these cards can be `h2`. Like that semantic article I sent. this page would be set up like
`h1 `Donor id` /h1`
     `h2` Summary `/h2`
     `h2` Available Files `/h2`
            `h3`DATA TYPES`/h3`
            `h3`EXPERIMENTAL STRATEGIES`/h3`
   `h2` Clinical Timeline `/h2`
           `h3`Primary Diagnose`/h3`
etc

[2020-04-21 19:00] kcullion commented on #1287
@jaserud when I register samples I notice when the donor table refreshes to show the newly registered samples, the card title flashes from grey to blue. Like for a few seconds after it refreshes it keeps changing colours.

Also, are we using the same loader when this table does refresh? Would that be for a new ticket?

[2020-04-21 19:44] jaserud commented on #1287
@kcullion I see what your talking about with, looks like some weird polling behavior. This didn't happen when I worked on it so looks like something was merged that broke it :disappointed:, will take a look.

[2020-04-21 20:35] anncatton opened #1357 "Clear existing loaders on logout"
If a user logs out while a refresh request is occurring, any existing loaders are not being cleared and the app hangs. It's possible this could occur with other network requests that initiate loaders.

### Possible implementation
Clear any existing loaders when logout function is called.

[2020-04-21 21:00] wajiha-oicr commented on #1321
@kcullion for the resource boxes, which part of the component did you want to behave as the actual link? the entire box? the title? the chevron?

[2020-04-21 21:08] kcullion commented on #1321
@wajiha-oicr can you make the entire box a link? Larger hit area is always my preference :)

[2020-04-21 21:09] wajiha-oicr commented on #1321
thanks for clarifying :)

[2020-04-21 21:22] kcullion commented on #1321
Thank you for checking! Also, @wajiha-oicr  I put a hover state for the box in the zeplin mock (see first box): https://zpl.io/2yZk3dG

[2020-04-22 14:04] kcullion opened #1364 "🐛 Dashboard: Donors with Released Files bar is full at zero"
## Describe the bug
Some programs like CYUNG-CA and HELLO-GB have the Donors with Released Files bar full.
<img width="205" alt="Screen Shot 2020-04-22 at 10 01 21 AM" src="https://user-images.githubusercontent.com/18424138/79991687-95ac5180-8480-11ea-8c2e-d78a2e17fbf3.png">

## Expected behaviour
This should be grey as the count is at zero.

[2020-04-22 17:57] wajiha-oicr commented on #1321
This is in QA but hidden behind a feature flag.

(visible in dev for sneaky peeks though https://platform-ui.dev.argo.cancercollaboratory.org/)

[2020-04-22 17:59] anncatton commented on #1268
@rosibaj Feature flag is currently disabled in QA to test it is working properly, will enable once that's verified.
* manually test `/repository` route to ensure there is a 404

[2020-04-22 18:00] kcullion commented on #1321
you so great @wajiha-oicr!! should we hold off on reviewing if it's a feature flag?

[2020-04-22 18:08] wajiha-oicr commented on #1321
@rosibaj thoughts?

[2020-04-22 18:10] rosibaj commented on #1268
@anncatton i do not see this in qa
![image](https://user-images.githubusercontent.com/15824252/80017723-05cbcf00-84a3-11ea-896f-33bbe6368c7c.png)

[2020-04-22 18:11] rosibaj commented on #1321
@wajiha-oicr can we please turn feature flag OFF in QA so we can provide feedback.  it should be ON in production .

[2020-04-22 18:21] kcullion commented on #1300
@P-Saha looks good! They should just be right justified with the table
<img width="1225" alt="dashboard buttons" src="https://user-images.githubusercontent.com/18424138/80018783-9060fe00-84a4-11ea-9d59-5de0da7c1369.png">

[2020-04-22 18:40] kcullion commented on #1269
@rosibaj @P-Saha this looks good to me. Thanks for the fixes!

[2020-04-23 14:06] kcullion opened #1369 "Static UI: Homepage Feedback"
- [x] Replace banner and news images with smaller versions Kim sent
- [x] Can you put the top border on the bottom of the nav bar instead of the top of the banner. My bad - but I think it looks weird that the border doesn't stay on the navbar if the top nav is sticky
- [x] The file repo link is working. Can you link the "Browse the data" button to it
- [x] can you make the top and bottom padding h

[2020-04-23 16:01] kcullion commented on #1351
duplicate because of github crash

[2020-04-23 16:01] #1351 closed

[2020-04-23 16:01] kcullion commented on #1350
duplicate because of github crash

[2020-04-23 16:01] #1350 closed

[2020-04-23 16:03] wajiha-oicr opened #1370 "🐛 Inconsistent padding on the homepage"
## Describe the bug
Occasionally, the homepage will render with different padding styles

## Steps To Reproduce
- go to the homepage, navigate to another page within the site, navigate back again
- rinse and repeat, padding is showing up differently upon different page loads

## Expected behaviour
Padding should remain consistent

[2020-04-23 16:05] wajiha-oicr commented on #1369
I believe I have gotten a fix for the inconsistent padding, (https://github.com/icgc-argo/platform-ui/issues/1370) I have a PR up for that just as an fyi

[2020-04-24 14:46] kcullion opened #1381 "🐛 File Repo tooltip causing a second scrollbar"
## Describe the bug
In the file repo, when I hover over the lock in the far right column of the table, the tooltip appears but it creates a second scrollbar and jumping behaviour
<img width="227" alt="Screen Shot 2020-04-24 at 10 43 08 AM" src="https://user-images.githubusercontent.com/18424138/80225177-b6a7aa80-8618-11ea-86c7-d4cc320b2444.png">

This happens when logged in too
<img width="301" al

[2020-04-24 14:49] kcullion opened #1383 "Pagination component: extend to produce table count"
The pagination component needs to be extended to provide this count for a table:
<img width="415" alt="pagination-count" src="https://user-images.githubusercontent.com/18424138/80225551-39c90080-8619-11ea-8634-5bfcdca23d67.png">

[2020-04-24 15:03] rosibaj commented on #1381
@kcullion i think this is the bug i experiences that i asked you and ann about ( but i couldnt figure out what was happenin!

[2020-04-24 15:04] kcullion commented on #1381
@rosibaj oh yes! it's a weird jumpy behaviour

[2020-04-24 15:07] kcullion opened #1385 "🐛 File Repo: Search ids facet closes when click searchbox"
- [ ] When I click on the searchbox OR the upload ids button the facet closes

<img width="238" alt="search-facet" src="https://user-images.githubusercontent.com/18424138/80227517-b8bf3880-861b-11ea-8f03-41e238c72b0c.png">

## Expected behaviour
@wajiha-oicr  says: e.stoppropogation() is a potential fix for the first item

[2020-04-24 18:29] kcullion commented on #1300
@P-Saha @rosibaj the buttons look good on QA now. Thanks!

[2020-04-24 18:31] kcullion commented on #1364
@anncatton @rosibaj this looks good to me on QA!

[2020-04-24 19:03] kcullion commented on #1370
Looks good on QA, thanks @wajiha-oicr

[2020-04-24 19:18] rosibaj commented on #1300
@hlminh2000 @P-Saha if this is onqa can i please have the lablel/tag version applied to this ticket?

[2020-04-24 19:19] rosibaj commented on #1364
@hlminh2000 @P-Saha if this is onqa can i please have the lablel/tag version applied to this ticket?

[2020-04-24 19:24] P-Saha commented on #1300
@rosibaj This ticket was in `1.12.1`, I labeled it as `1.12.0`

[2020-04-24 19:25] rosibaj commented on #1300
thanks @P-Saha !!!!!!!

[2020-04-27 14:03] kcullion opened #1393 "Beta Feedback: add program_id to welcome message"
Beta testers are confused as to where they find their program_id.

To help with this, please add a reference to their Program ID in the welcome banner:
Zeplin: https://zpl.io/a7xW3DM

<img width="1070" alt="2020-04-27_1025" src="https://user-images.githubusercontent.com/18424138/80383407-86a71400-8871-11ea-8a87-ba965136dcb3.png">

[2020-04-27 17:33] #1339 closed

[2020-04-27 17:34] rosibaj commented on #1266
confirmed hidden in prod.

[2020-04-27 17:34] #1266 closed

[2020-04-27 17:35] rosibaj commented on #1327
confirmed on prod

[2020-04-27 17:35] #1327 closed

[2020-04-27 17:35] #1370 closed

[2020-04-27 17:36] rosibaj commented on #1352
confirmed on prod

[2020-04-27 17:36] #1352 closed

[2020-04-27 17:36] #1300 closed

[2020-04-27 17:36] #1325 closed

[2020-04-27 17:37] rosibaj commented on #1364
confirmed on prod

[2020-04-27 17:37] #1364 closed

[2020-04-27 17:38] rosibaj commented on #1321
confirmed hidden on prod

[2020-04-27 17:38] #1321 closed

[2020-04-27 17:38] #1314 closed

[2020-04-27 17:38] #1267 closed

[2020-04-27 17:38] #1271 closed

[2020-04-27 17:39] rosibaj commented on #1326
confirmed on prod

[2020-04-27 17:39] #1326 closed

[2020-04-27 17:39] rosibaj commented on #1323
confirmed on prod

[2020-04-27 17:39] #1323 closed

[2020-04-27 17:39] #1269 closed

[2020-04-27 17:39] #1270 closed

[2020-04-27 17:47] kcullion opened #1394 "🐛 Dashboard stat: wrong count for Donors with Tumour & Normal"
## Describe the bug
This count should be counting the Raw Reads submission (from song)
<img width="687" alt="2020-04-27_1343" src="https://user-images.githubusercontent.com/18424138/80403423-8d438480-888d-11ea-94e7-d1fcc20446c0.png">

[2020-04-27 17:51] #1042 closed

[2020-04-27 17:51] #1287 closed

[2020-04-27 20:27] rosibaj opened #1396 "🐛 Scrollbar appears on/off screen creating a weird bump"
## Describe the bug
https://drive.google.com/file/d/1SDMHJe_jgXIYcU2wsjZO5J8arc0YUgHF/view
https://drive.google.com/file/d/1Itx3gvMDde4dbznybdnOYvc9B1kvG3Bq/view
## Steps To Reproduce
System:
Windows 10
Chrome
Version 81.0.4044.122 (Official Build) (64-bit)
Zoom 80%

## Expected behaviour
It does not bump backand forth like this.  It does not try and scroll whole page in background.

[2020-04-27 21:17] #1043 closed

[2020-04-28 14:06] kcullion opened #1397 "File Repository: Chart updates"
After our demo feedback, we made some changes to the File repo charts to make them fill the space better, and separated the stats into it's own bar as they weren't necessarily related to the charts.

Please make the following UI updates: Zeplin: https://zpl.io/Vk6MGxg
- [ ] Remove stats
- [ ] Add chart title
- [ ] Add x-axis and y-axis lines with the labels
- [ ] bars go all the way to the bottom

[2020-04-28 14:29] kcullion opened #1398 "File Repository: Implement stat bar"
The stats have been removed from the charts and put into a stat card.

Some of the icons can be found in storybook, please add the missing ones here too: https://argo-ui-storybook.netlify.app/?path=/story/uikit-icon--all-icons

Zeplin: https://zpl.io/Vk6MGxg

<img width="1161" alt="Screen Shot 2020-04-28 at 10 26 29 AM" src="https://user-images.githubusercontent.com/18424138/80499391-eb7a7100-893a

[2020-04-28 19:32] #1265 closed

[2020-04-28 19:33] #1268 closed

[2020-04-29 15:17] ciaranschutte commented on #1272
- [ ] table
- [ ] samples
- [ ] no data
- [ ] invalid header
- [ ] invalid tab

[2020-04-29 17:47] kcullion opened #1400 "Static UI: DCC Team page"
Build the DCC team page
zeplin: https://zpl.io/bA1wxXB

- Ask Kim for the banner image
- The styles are similar to the privacy page that was built but not used, in case you can reuse any of that.
- Title bar component: https://argo-ui-storybook.netlify.app/?path=/story/uikit-titleborder--fixed-width

[2020-04-29 18:16] rosibaj opened #1401 "Hide Dashboard buttons for now"
![image](https://user-images.githubusercontent.com/15824252/80631634-05dc4980-8a24-11ea-939d-10b12194c8af.png)

[2020-04-29 19:27] rosibaj opened #1402 "Data Hookup: Gateway to Facets"

[2020-05-01 14:38] kcullion opened #1409 "File repo: facet bar style fixes"
- [x] Can you make the facet panel a little bit wider so that this facet type fits and all placeholder values are legible. min-width: 250px; seems to work well
<img width="234" alt="Screen Shot 2020-05-01 at 10 12 47 AM" src="https://user-images.githubusercontent.com/18424138/80813327-d5b5b780-8b97-11ea-9459-8c2b005d2391.png">

- [x] Can you make this Filters title not as tall, and add the bottom

[2020-05-01 14:58] kcullion commented on #1340
Thanks for all the updates @wajiha-oicr
Just noticed a couple more things:

- [ ] Is it possible to have the "invalid input" on one line?
<img width="238" alt="Screen Shot 2020-05-01 at 10 43 29 AM" src="https://user-images.githubusercontent.com/18424138/80814226-7a84c480-8b99-11ea-9f1c-b397c8b1d05a.png">

- [ ] When I select facet values, they reorder to the top. Then I press "select all", then "

[2020-05-01 15:24] kcullion commented on #1397
Looks great @anncatton! Just a couple small things
- [ ] for consistency with the page, can you capitalize the titles like:
Files by Data Type, Files by Primary Site, Files by Program

- [ ] Tooltips, can you add the word "files" after the numbers (all charts)
<img width="188" alt="Screen Shot 2020-05-01 at 11 23 45 AM" src="https://user-images.githubusercontent.com/18424138/80816831-3ea02e00-8b9e

[2020-05-01 15:34] kcullion commented on #1398
awesome @anncatton !
can you just make all icons (except primary sites) smaller - width:16px;
<img width="1183" alt="2020-05-01_1130" src="https://user-images.githubusercontent.com/18424138/80817583-b458c980-8b9f-11ea-8c3a-063bcb2d72de.png">

[2020-05-04 13:39] kcullion commented on #1397
looks great, thanks @anncatton !

[2020-05-04 13:40] kcullion commented on #1398
looks great, thanks @anncatton

[2020-05-04 15:39] kcullion commented on #1385
Closing this as @wajiha-oicr fixed it as part of https://github.com/icgc-argo/platform-ui/issues/1409

[2020-05-04 15:39] #1385 closed

[2020-05-04 16:13] kcullion commented on #1349
@rosibaj this looks good. Let's review when implemented on entire page

[2020-05-04 16:14] rosibaj commented on #1349
@hlminh2000 does this ticket have a tag?  I cannot add it to release until it has a ui tag label.

[2020-05-04 17:19] hlminh2000 commented on #1349
@rosibaj tag added

[2020-05-04 17:26] rosibaj commented on #1349
thanks @hlminh2000 !

[2020-05-04 17:42] kcullion opened #1425 "Dashboard: Coming soon for chart cards"
Can you change the "No data found." text to "Coming Soon." for these two cards
<img width="831" alt="2020-05-04_1342" src="https://user-images.githubusercontent.com/18424138/80995988-1e29db00-8e0d-11ea-8229-d790c5ce942c.png">

[2020-05-04 18:04] kcullion opened #1426 "Program Services Modal"
To help the program members know to log in, we are going to always have a "Program Services" link in the top menu bar for them, that links to a modal with more info.

- [ ] Implement this menu item. Currently when logged in, this item is called "Submissions". Change the label of that to "Program Services" and show it when logged out too.
<img width="431" alt="2020-05-04_1413" src="https://user-ima

[2020-05-04 18:20] kcullion commented on #1369
@wajiha-oicr @rosibaj this looks good to me!

[2020-05-04 18:21] kcullion opened #1427 "Homepage: Content updates"
Just a few updates to the homepage when we know the final content.

- [x] implement top and bottom padding to the parent container of the bottom 6 callouts so that the background globe is a bit more visible

- [x] hide this button for release day
<img width="1086" alt="2020-05-28_1608" src="https://user-images.githubusercontent.com/18424138/83189458-1e14b680-a0ff-11ea-8f67-99c0dc51829f.png">

- [x

[2020-05-04 19:12] rosibaj commented on #1369
@wajiha-oicr is this still feature flagged? We can remove the feature flag now as beta testing is completed.

[2020-05-04 19:13] kcullion opened #1428 "🐛 Redirecting to old login page"
## Describe the bug
When logging out from certain program pages, the user is redirected to the old login page or is stuck on the loader.

## Steps To Reproduce
For example, go to to CYUNG-CA dashboard and log out. The page is frozen with the dna loader

Or go to RAWR-CA dashboard and log out. User is quickly redirected to old login page https://platform-ui.qa.argo.cancercollaboratory.org/login?red

[2020-05-04 19:14] wajiha-oicr commented on #1369
yes, I can remove the feature flag in a new change

[2020-05-04 19:15] wajiha-oicr opened #1429 "remove feature flag for new homepage"
## Detailed Description
Remove the feature flag for the new homepage and simply always default to the new homepage

## Possible Implementation

[2020-05-04 19:16] wajiha-oicr commented on #1369
https://github.com/icgc-argo/platform-ui/issues/1429

[2020-05-04 19:18] #1302 closed

[2020-05-04 19:23] rosibaj commented on #1398
@anncatton can you please add the ui tag label to this ticket  before i can move it into the release?

[2020-05-04 19:23] rosibaj commented on #1397
@anncatton can you please add the tag label to this ticket?

[2020-05-04 19:40] rosibaj opened #1430 "Integrate Arranger query bar"
Integrate Arranger filter bar into the ARGO UI

- arranger has a SqonView (or something like that) that renders the sqon visually, it can be pulled in for this. The arranger package is @arranger/components
- make a component that uses that component, do all the styling and what not to match argo
- use storybook, with a sample sqon

[2020-05-04 19:53] kcullion opened #1431 "Dashboard: Donor table, remove links for now"
For the release, we won't have donor page...let's remove these links on the ids for now.

<img width="561" alt="2020-05-04_1553" src="https://user-images.githubusercontent.com/18424138/81007526-62be7200-8e1f-11ea-81b0-314a01edcb84.png">

[2020-05-04 21:13] kcullion opened #1436 "🐛 Facet: select all / view more creates a double scrollbar"
## Describe the bug
If you click select all or view more option in a facet, the browser gets a second scrollbar

<img width="1600" alt="2020-05-04_1501" src="https://user-images.githubusercontent.com/18424138/81014276-9226ac00-8e2a-11ea-9013-959ecd59544e.png">

[2020-05-05 14:05] rosibaj commented on #1318
Discussion on slack:

- I think it makes sense to put additional fields/headers that are found in records in addition to the expected headers in tsvs.
- I imagine users would want to see the invalid fields so they can fix them before resubmission. - Missing fields can be empty for record but the header will be their. Renamed/deleted fields will show up in the tsv (at the end of the valid columns)

[2020-05-05 15:23] anncatton commented on #1428
Looks like this is partially linked to #1357

[2020-05-05 16:17] rosibaj commented on #1428
@anncatton if you find both are related, we can pull both in.

[2020-05-05 16:28] anncatton commented on #1428
I don't think the issues are related, I think this ticket might be describing 2 separate issues. @hlminh2000 pointed out the loader issue recently.

[2020-05-05 17:41] rosibaj opened #1440 "Initialize the platform SQON state"
- Create the SQON a the top level state
- add a page level context for components to talk to
- make sure the filters are part of the query params (so that it can show in the url)

[2020-05-05 17:46] rosibaj opened #1470 "Integrate SQON to component state"
For components that modify the SQON (ex facets) modify the state so that they interact with the query
- Facets
- Query Bar

Later, this can be connected to the actual graphQL query.

[2020-05-05 18:07] hlminh2000 commented on #1428
yeah I think they're separate...

[2020-05-05 19:08] kcullion opened #1442 "User Profile: update links"
On the user profile page,  /user

- [ ] Please link  HOW TO USE YOUR API TOKEN WITH ICGC ARGO TOOLS › to https://docs.icgc-argo.org/docs/data-download

- [ ] Please link "view files" to the file repository page /repository

<img width="1538" alt="2020-05-05_1508" src="https://user-images.githubusercontent.com/18424138/81105668-47686b00-8ee2-11ea-8b58-d35ddb0b18e1.png">

[2020-05-05 19:24] rosibaj commented on #1340
@wajiha-oicr great job :) Facet display is looking real good!

[2020-05-05 19:25] ciaranschutte commented on #1272
@rosibaj @kcullion in storybook

[2020-05-05 19:53] rosibaj commented on #1272
@ciaranschutte can you please add a version label tag to this ticket? Cannot release it till added.

[2020-05-06 04:56] wajiha-oicr commented on #1401
@rosibaj @hlminh2000 is this significant enough to hide behind a feature flag? This is small so I was just thinking of removing the buttons altogether and then using the file history to grab the code again when we're ready for the buttons?

Or just comment it out?

[2020-05-06 13:27] rosibaj commented on #1401
Comment out? Feature flag seems overkill. @hlminh2000 ?

[2020-05-06 13:38] hlminh2000 commented on #1401
yeah just comment out :)

[2020-05-06 13:47] rosibaj opened #1445 "Data Connection: Download All Clinical Data - Platform Edition"
Related to  https://github.com/icgc-argo/argo-clinical/issues/467

[2020-05-06 19:27] jaserud commented on #1445
This is duplicate with this: https://github.com/icgc-argo/platform-ui/issues/1318

[2020-05-06 19:27] #1445 closed

[2020-05-08 14:37] rosibaj commented on #1429
@wajiha-oicr looks great! Can we get tagged and merged to QA for release?

[2020-05-08 15:46] rosibaj opened #1452 "Move Maintenance page outside Kubernetes deployment"
## Detailed Description
Right now the maintenance page that exists: https://platform-ui.qa.argo.cancercollaboratory.org/maintenance is served from the kubernetes pod.   In the case of an actual maintence/issue, this page is not reachable.
We need to:
- [ ] Make sure this is a static html/css page
- [ ] Make sure the static page can be served from F5 or nginx (confirm with IT which one)

## Impleme

[2020-05-11 15:05] kcullion opened #1455 "Dashboard: Donor table update - implement loader"
When I register samples or submit clinical data - when the donor dashboard updates I see:

Before update: I see my list of donors
During update: donor table changes to the empty state
<img width="1322" alt="Screen Shot 2020-05-11 at 10 49 32 AM" src="https://user-images.githubusercontent.com/18424138/81577232-2fc43300-9377-11ea-86dc-ae30690cd445.png">
When updated: donor table loads with list of d

[2020-05-13 14:45] kcullion opened #1456 "Dashboard: Table header label change"
The heading "core fields" is a bit misleading with the way the core completeness is calculated.
For example, if one core field is added, the calculation goes down by 20%.

For clarity and to be consistent with the documentation, let's change the heading from "Core Fields" to "Core Completeness"

![2020-05-13_1039.png](https://images.zenhubusercontent.com/5a5f5bcd4b5806bc2bc31a86/b9677a40-183e-4665

[2020-05-13 21:33] rosibaj commented on #1401
verified in production

[2020-05-13 21:33] #1401 closed

[2020-05-13 21:33] rosibaj commented on #1429
new homepage is visible - verified in prod

[2020-05-13 21:33] #1429 closed

[2020-05-13 21:34] #1397 closed

[2020-05-13 21:34] #1398 closed

[2020-05-13 21:34] #1369 closed

[2020-05-13 21:34] #1272 closed

[2020-05-13 21:34] #1340 closed

[2020-05-13 21:35] #1349 closed

[2020-05-13 21:44] #1409 closed

[2020-05-14 02:40] rosibaj commented on #1442
amazing.  thanks @wajiha-oicr !

[2020-05-14 12:54] anncatton commented on #1430
Empty filters view is visible on File Repository page, with filters is available on Storybook

[2020-05-15 14:28] rosibaj opened #1461 "🐛 Submission tab not defaulting to errored tab when filename is in caps"
## Describe the bug
![image](https://user-images.githubusercontent.com/15824252/82061353-96f32780-9696-11ea-8c2e-ba01671df9ac.png)

## Steps To Reproduce
1. Create a `donor` file and call it `DONOR.tsv` in all caps
1. upload the file. The tab will not default to the correct one.

## Expected behaviour
an all caps/capitalized file name will behave the same as an capitalized filename.

[2020-05-20 01:11] rosibaj opened #1466 "🐛 Platform UI freezes when a general error happens"
## Describe the bug
When i used excel to save a comma-delimited list in a file, it automaticaally appended " to the string.  I only noticed once i opened it in a text editor:

![image](https://user-images.githubusercontent.com/15824252/82393680-1f662500-9a15-11ea-89e7-e0c44e39e790.png)

Once you submit the file, this is the issue:
![image](https://user-images.githubusercontent.com/15824252/8239342

[2020-05-20 01:28] rosibaj commented on #1461
- tested with `DONOR.tsv` with a schema error and a chemotherapy file with no error
- was successfully navigated to `donor` tab on clinical submission with error notifications being correct in all three places
![image](https://user-images.githubusercontent.com/15824252/82394614-808ef800-9a17-11ea-8f77-30a502643539.png)

thanks @wajiha-oicr !

[2020-05-20 01:51] rosibaj commented on #1318
I tested the `all clinical` export  - it works correctly from the platform connection stance.  the one lgtm @jaserud ! I left feedback on the clinical ticket about the content of the export.

[2020-05-20 17:26] hlminh2000 commented on #1452
I've created some scripts to export the static maintenance page from the UI repo. A sample view of this can be found at: https://argo-maintenance.netlify.app/ (this is public, hosted with a manual upload for demo only)

The static bundle has also been uploaded here: https://drive.google.com/open?id=1K-y53Os_6Dq3chB6-l9bp1hJYgyOcLX5

[2020-05-20 17:35] rosibaj commented on #1452
@hlminh2000 page looks great!

[2020-05-20 18:37] hlminh2000 commented on #1452
once code is approved and merged, here's the next step: https://github.com/icgc-argo/platform-ui/pull/1465

[2020-05-21 14:49] hlminh2000 commented on #1452
This ticket should not affect any existing stuff, so as long as there is no resulting break to UI, it's good to go. Hosting of the actual site will be part of above mentioned ticket.

[2020-05-21 16:57] rosibaj commented on #1452
UI looks good to me so I will close this ticket.  Noted the above tracking ticket and has been added to sprint.

[2020-05-21 16:57] #1452 closed

[2020-05-21 19:58] rosibaj commented on #1080
@kcullion i also think maybe this was fixed - could you reverify this one?

[2020-05-21 20:23] kcullion commented on #1080
@rosibaj yep! I think this was fixed as part of another ticket

[2020-05-21 20:27] rosibaj commented on #1080
amazing thanks!

[2020-05-21 20:27] #1080 closed

[2020-05-21 21:56] rosibaj opened #1471 "🐛 Can only see 20 rows on clinical files"
![image](https://user-images.githubusercontent.com/15824252/82610425-5743a880-9b8c-11ea-88e1-6b94440448ea.png)

[2020-05-25 15:45] rosibaj opened #1473 "Message on inactive logout"
I get logged out after 30 minutes (?) which is the right behavior.  But can there be a message such as "You've been logged out due to inactivity"

[2020-05-25 15:46] rosibaj opened #1474 "Unclear Behaviour while validating"
When uploading files, could the spinner actually says "Validating"?  It's not clear that validation takes place during the upload step. It seems like upload takes long

- [ ] when user uploads files, the state of the button would change to the animated loader icon + the label "Validating files"
<img width="272" alt="Screen Shot 2020-08-18 at 1 34 56 PM" src="https://user-images.githubusercontent.c

[2020-05-25 19:38] rosibaj commented on #1431
tested on dev - lgtm.  @ciaranschutte can we please move to qa?

[2020-05-25 19:39] rosibaj commented on #1431
nvm i see it is tagged now but not moved on board. moving this.

[2020-05-26 15:45] rosibaj commented on #1430
@anncatton can you please label the ocrrect version tag here?

[2020-05-26 16:17] anncatton commented on #1428
The PR for this does not entirely fix the endless loader issue, that will be addressed in https://github.com/icgc-argo/platform-ui/issues/1357

[2020-05-26 22:35] rosibaj commented on #1428
@anncatton if i click the link in the ticket i still get sent to the old page...

[2020-05-26 22:35] rosibaj commented on #1440
lgtm! ty @anncatton

[2020-05-27 13:31] kcullion commented on #1474
@rosibaj I thought we avoided changing the word on the loader for a reason? Can't recall exactly but I do like the idea of changing that word to give user feedback depending on their action.

[2020-05-27 13:49] jaserud commented on #1456
@kcullion can we call it `Core Completion` for consistency, that's what we call it in clinical.

[2020-05-27 13:52] rosibaj commented on #1474
@kcullion i think Christinas main feeback here is that its not 100% clear to the user that the page is actually working on validations (instead of a button freezing).

Maybe its not a word on the button, but something else to indicate that?

[2020-05-27 13:58] kcullion commented on #1456
Thanks @jaserud ..we've been calling it core completeness in the docs site: https://docs.qa.argo.cancercollaboratory.org/docs/clinical-data-validation-rules

Does the user see what is in clinical ever? @rosibaj should we change all the docs references to completion?

[2020-05-27 13:59] kcullion commented on #1474
Oh sorry, I though it was the dna loader you were talking about. Maybe we do the dna loader instead of the button text changing, which is not as obvious

[2020-05-27 14:03] jaserud commented on #1456
hmm, User will only see this if they use the back end api and even then they won't see a percentage, they see a breakdown. I was just thinking out loud. I think it makes sense to follow whats in the docs so I'll leave it.

[2020-05-27 14:10] kcullion commented on #1456
@jaserud completion is a tiny bit shorter, so I lean towards that. Trying to decide which word I like better. I'm a bit indifferent on it - it won't be hard to change in the docs. So let's let @rosibaj decide! haha

[2020-05-27 14:43] kcullion commented on #1456
Decision: for this header we will use Completion, because "completeness" suggests the donor should be 100%.
In the docs I have changed some instances of completeness to completion - when we are not talking about being at 100%

[2020-05-27 15:25] rosibaj opened #1485 "Update logout behavior for public pages."
- Logout from a public page, you get redirected to the homepage

# Expected behavior
Logout from a public page should behave the same as login (i.e redirected to the same page)

[2020-05-27 15:29] rosibaj opened #1486 "🐛 Redirect still using old /login page"
1. Click here: https://platform-ui.qa.argo.cancercollaboratory.org/login?redirect=/submission/program
2. see the old page

## Expected Behaviour
1. the user should see the current homepage (not the old beta page
1. = hide the /login path for now? (i.e. a user wouldn’t be able to access it at all).  We may need to use this path in future, so do not delete it.

[2020-05-27 15:30] rosibaj opened #1487 "Feature Request"
## Detailed Description
1. User goes to a bookmarked page that is `pirivate` - gets a redirect page
2. clicks login and gets directed to private page

[2020-05-27 18:20] kcullion opened #1490 "File Repository: Add selected file number to interface and button dropdown"
**Step 1: File repo has been queried. No files have been selected**
Zeplin: https://zpl.io/beE6pdq
- [ ] The query filters affect the stats and charts
- [ ] Nothing is added to table file counter
- [ ] A blue label, "All files" appears in the download button dropdown (this is not a button, just an indication of what the user is downloading)
<img width="1191" alt="2020-05-28_1508" src="https://user

[2020-05-28 13:33] kcullion opened #1500 "Replace maintenance graphic"
We are going to replace the graphic on the maintenance pages with this one. Ask Kim for svg

<img width="405" alt="Screen Shot 2020-05-28 at 9 32 03 AM" src="https://user-images.githubusercontent.com/18424138/83147883-3caa8b80-a0c6-11ea-9872-74f1a1554329.png">

[2020-05-28 14:04] kcullion opened #1501 "Homepage number animation"
Add an animation for the data numbers to count up:

https://inorganik.github.io/countUp.js/

[2020-05-28 14:09] kcullion commented on #1426
I had a look and this works great @ciaranschutte!
@rosibaj I just couldn't test the basic user flow (with the new warning message).  I don't have another gmail address to test that. Can you look at that part?

[2020-05-28 14:11] kcullion commented on #1456
Looks good to me! Thanks @jaserud

[2020-05-28 15:59] ciaranschutte commented on #1426
@kcullion i just create a new gmail to test it

[2020-05-28 16:00] hlminh2000 commented on #1500
static deploy has been updated at https://argo-maintenance.netlify.app/. Also updated the bundle on google drive for IT to grab ([same url posted before)](https://drive.google.com/open?id=1K-y53Os_6Dq3chB6-l9bp1hJYgyOcLX5)

[2020-05-28 16:11] kcullion commented on #1500
thanks @hlminh2000. Did you update this page too? https://platform-ui.qa.argo.cancercollaboratory.org/maintenance

[2020-05-28 17:44] hlminh2000 commented on #1500
@kcullion We'll only be showing maintenance when there is some outage, during which time we have to assume no back-end is available, which means no functionality is available. I'm only leaving the `/maintenance` path in the app to simplify the build process, but end users are never presented with that path.

[2020-05-28 18:34] rosibaj commented on #1400
@ciaranschutte can i please get Kevin Hartmann moved to alumni?

[2020-05-28 18:36] kcullion commented on #1400
@ciaranschutte can you also make the background white instead of light grey?

[2020-05-28 18:49] rosibaj commented on #1426
![image](https://user-images.githubusercontent.com/15824252/83181073-5c57a900-a0f2-11ea-9659-3cbc5a80ee0c.png)

looks fine to me with a generic user !

[2020-05-28 19:14] kcullion commented on #1490
@rosibaj I finished the mocks for this ticket. Please review and re-assign as you wish.

[2020-05-28 20:20] kcullion opened #1506 "Update Documentation links on Platform"
The documentation pages were put into folders, so we will have to update the following links:

**Homepage:**
- [x] How to Apply button: /docs/data-access/data-access
- [x] How to Download button: /docs/data-access/data-download
- [x] About our Workflows button: /docs/analysis-workflows/dna-pipeline
- [x] Publication Guidelines callout: /docs/data-access/publication-guidelines
- [x] Release Notes c

[2020-05-28 21:11] rosibaj commented on #1442
confirmed on prod

[2020-05-28 21:11] #1442 closed

[2020-05-28 21:12] #1393 closed

[2020-05-28 21:13] rosibaj commented on #1428
confirmed on prod logout goes to homepage

[2020-05-28 21:13] #1428 closed

[2020-05-28 21:13] #1430 closed

[2020-05-28 21:13] #1461 closed

[2020-05-28 21:13] rosibaj commented on #1318
comfrmed export all data working on production release

[2020-05-28 21:13] #1318 closed

[2020-05-28 21:25] rosibaj commented on #1425
lgtm thanks @wajiha-oicr !

[2020-05-28 21:26] rosibaj commented on #1500
lgtm thanks @hlminh2000 !

[2020-05-28 21:27] rosibaj commented on #1456
LGTM THANKS @jaserud !

[2020-05-28 21:29] rosibaj commented on #1486
LGTM - was presented the homepage as my redirect page.  `/login` redirected correctly to the homepage as well.

thank you very much @anncatton !!!!!!!

[2020-05-28 21:47] rosibaj commented on #1137
cant test in qa so will wait for prod

[2020-05-28 22:36] ciaranschutte commented on #1506
New folder structure has to be merged for these links to work
https://github.com/icgc-argo/argo-docs/commit/e32071e445f728c0c5c199404e75f6a394bdc161

[2020-05-28 23:58] rosibaj commented on #1431
verified on prod

[2020-05-28 23:58] #1431 closed

[2020-05-29 00:03] #1440 closed

[2020-05-29 00:55] rosibaj opened #1508 "🐛 Updated fields not showing for DCC"
Updates should show for the DCC (like so):
https://app.zeplin.io/project/5a69fad2bde6330a929157fd/screen/5d811e37ac4e2f8880c816c6

But they are not:
![image](https://user-images.githubusercontent.com/15824252/83209078-62b34880-a125-11ea-8613-8bef55622459.png)

- this only happens on the dcc page when you approve
- if you refresh its there

[2020-05-29 18:30] kcullion opened #1510 "Add dictionary version number to UI links"
Change instruction number 1 in:

- [ ] Registering Samples
change wording to remove "the latest" and add version number instead:
`1. Download the registration template and format it using **Data Dictionary v48.0**.`
<img width="1231" alt="2020-05-29_1431" src="https://user-images.githubusercontent.com/18424138/83293079-3ba65680-a1b9-11ea-9d84-3260c6ce5afa.png">

- [ ] Submit Clinical Data
change w

[2020-06-01 15:06] wajiha-oicr commented on #1427
is this still blocked by the news updates?

[2020-06-01 15:13] kcullion commented on #1427
@wajiha-oicr I think this is an important to get done for launch... @rosibaj maybe we can write a news blurb that is a message like what Christina just said - more of a "coming soon" warning?

[2020-06-01 15:48] rosibaj commented on #1427
**Announcement**: We are excited to announce the soft launch of the ARGO Data Platform, the next step from the ICGC 25K Data Portal (link). Our team is working hard to roll out the first release of Clinical Dat Submission, including features such as clinical data submission and the file repository for browsing and downloading molecular data. Check back soon for updates!

[2020-06-01 16:34] kcullion commented on #1427
here's a zeplin link too: https://zpl.io/2yZk3dG

[2020-06-01 18:10] kcullion commented on #1400
looks good @ciaranschutte, thanks

[2020-06-01 23:12] anncatton opened #1517 "Implement File ID Search"
Autocomplete search with all applicable fields in https://github.com/icgc-argo/platform-api/blob/develop/compose/file_centric/file_mapping.json

Dropdown will display `object_id`, `study_id` (`program_id`) and `file.name`
Integrate with Filters context.

[2020-06-02 01:11] rosibaj commented on #1471
@ciaranschutte one small issue:
![image](https://user-images.githubusercontent.com/15824252/83469004-75db5680-a44c-11ea-9000-ce3c8502a0c4.png)

[2020-06-02 06:32] ciaranschutte commented on #1471
on it

[2020-06-02 13:55] kcullion commented on #1427
Thanks @wajiha-oicr
For the news block, I saw some weird formatting - like using times new roman. Then I refreshed and it looked better but when I refresh or go back to the homepage, I see that wrong font for a split second. Is the font applied to this block differently?

[2020-06-02 14:10] kcullion commented on #1427
can't seem to recreate the font thing. So this looks good to me!

[2020-06-02 15:03] rosibaj commented on #1427
lgtm! thanks @wajiha-oicr !!

[2020-06-02 15:29] blabadi opened #1520 "BUG: Clearing a file clears the errors in another tab"
Steps to reproduce:
1- upload  a file with upload errors like specimen
2- upload another good file of another type like treatment
3- clear the good file
notice the error in the tab with error is cleared too.

[2020-06-02 18:40] rosibaj opened #1521 "Update link in COOKIE message"
- link should go to ICGC ARGO website
![image](https://user-images.githubusercontent.com/15824252/83556990-d915c900-a4de-11ea-98a8-7d6eddd79f15.png)

- please remove or hide the /privacy page.

[2020-06-02 19:45] rosibaj commented on #1506
@ciaranschutte folders should be merge with latest docs release!

[2020-06-02 20:36] rosibaj commented on #1521
lgtm thank you @wajiha-oicr !!

[2020-06-02 20:53] blabadi opened #1527 "add license"
add license to all files

[2020-06-03 06:13] ciaranschutte commented on #1506
@ciaranschutte use content branch as qa

[2020-06-03 16:24] hlminh2000 commented on #1242
UI will show error because staging gateway isn't set up with JIRA, but as long as the request fails mentioning `FEATURE_HELP_DESK_ENABLED`, it's good

[2020-06-03 19:12] rosibaj commented on #1521
confirmed on production portal on incognito browser

goes to new link

[2020-06-03 19:12] #1521 closed

[2020-06-03 19:16] rosibaj commented on #1427
Confirmed on production
- link to file repo hidden
- announcement is there!

thanks @wajiha-oicr !

[2020-06-03 19:16] #1427 closed

[2020-06-03 19:37] rosibaj commented on #1426
verfied on production deploy! thanks @ciaranschutte

[2020-06-03 19:37] #1426 closed

[2020-06-03 19:38] rosibaj commented on #1400
verified on production deplpy! thanks @ciaranschutte !

[2020-06-03 19:38] #1400 closed

[2020-06-03 19:40] rosibaj commented on #1486
confirmed on production site

[2020-06-03 19:40] #1486 closed

[2020-06-03 19:41] rosibaj commented on #1456
confirmed on production

[2020-06-03 19:41] #1456 closed

[2020-06-03 19:41] rosibaj commented on #1425
confirmed on production

[2020-06-03 19:41] #1425 closed

[2020-06-03 19:42] #1500 closed

[2020-06-03 22:22] rosibaj commented on #1506
@ciaranschutte one more spot:
![image](https://user-images.githubusercontent.com/15824252/83694967-279e9280-a5c7-11ea-8220-a1b080ac3f5f.png)

Was this updated?

[2020-06-04 02:58] rosibaj opened #1535 "Investigate Update Business Rules"
![image](https://user-images.githubusercontent.com/15824252/83710031-c4742680-a5ed-11ea-9a5d-8a8f179dd063.png)

[2020-06-04 14:20] kcullion opened #1537 "Optimize for SEO - page titles"
We can at least add a` <title>` tag for each page. If there's anything else that can be done with metadata, keywords etc - that would be nice.

For example - the docs site does a better job at showing what page the user is on:
<img width="1025" alt="2020-06-04_1016" src="https://user-images.githubusercontent.com/18424138/83768480-d638e680-a64c-11ea-9a7e-7431725b7ec9.png">

Suggestion for format, b

[2020-06-04 15:50] hlminh2000 commented on #1273
should be able to run a query like this:
[code]

[2020-06-04 17:08] #1242 closed

[2020-06-04 17:39] kcullion commented on #1506
@rosibaj @ciaranschutte I tested all the links and they all work! Thanks Ciaran!

I do notice that trailing slash gets added still....but I think it's ok since I fixed all the doc links to be absolute

[2020-06-04 17:41] rosibaj commented on #1506
also was not able to break anything! @hlminh2000 can we get moved to production please?

[2020-06-04 18:24] rosibaj commented on #1506
confirmed on production!

[2020-06-04 18:24] #1506 closed

[2020-06-04 20:28] rosibaj opened #1543 "Mobile Header: issue with cookie notice"
![image](https://user-images.githubusercontent.com/15824252/83807039-6cd2cb00-a680-11ea-802f-4ad76e612670.png)

[2020-06-05 18:12] kcullion opened #1547 "Static UI: Clinical Timeline: Treatment tab update"
Theres a couple changes to the way the treatment files are displayed on the donor page, to account for a treatment combining multiple treatment types and multiple drugs
Zeplin: https://zpl.io/VY4OJBn

- [ ] 1. The treatment file fields will be displayed in two tables at the top
- [ ] 2. Each supplement file will have it's own table section. Eg. Chemo table
- [ ] 3. Eg. radiation table

<img width=

[2020-06-05 19:33] kcullion opened #1549 "Static UI: File entity page version 1"
Build the static cards for the simple version of the file entity page.
Zeplin: https://zpl.io/VYgdOOw

- [ ] 1. Download buttons: file button is disabled when logged out or when user doesn't have access to download it
- [ ] 2. File summary card
- [ ] 3. Data & Analysis info
- [ ] 4. Associated donors. Display tabs along the side if the file is associated to multiple donors, hide the entire tab com

[2020-06-05 21:53] jaserud commented on #1455
Currently the only thing that seems to be causing this is https://github.com/overture-stack/rollcall/issues/35

[2020-06-08 14:10] rosibaj opened #1552 "Flagged Security Content - 20200608"
![image](https://user-images.githubusercontent.com/15824252/84040083-2cb96400-a970-11ea-815a-b0f623908ffe.png)

[2020-06-08 14:20] rosibaj opened #1553 "First Release Preparation"
![image](https://user-images.githubusercontent.com/15824252/84041331-b453a280-a971-11ea-8339-e2f799b77661.png)

[2020-06-08 15:38] anncatton commented on #1553
Upload IDs button hidden in #1470

[2020-06-08 17:01] anncatton commented on #1402
update preset facets to https://docs.google.com/spreadsheets/d/1BJiqjbN0aqAsRNAP0HUSmAN_0yapVO7CEMyiL6qfidg/edit#gid=0

[2020-06-08 18:38] rosibaj commented on #1381
lgtm
- no more double scrollbar
- no more weird falshing on toolup

looks great thanks @anncatton !

[2020-06-09 14:31] kcullion opened #1558 "File repo - SQON feedback"
- [x] apply a min-height to the query bar so that there isn't a slight jump when filters get applied

- [x] first time applying query it gets funky blip/flash.  after that its fine
https://drive.google.com/file/d/1QgiAHZSyobBynmiVZc2dbutFLwqUFEpZ/view

- [x] when the min/max facets get used - the values don't persist in the facet panel, but they get applied to the sqon. The facet panel should show

[2020-06-09 14:38] rosibaj commented on #1383
lgtm! thanks @wajiha-oicr !

[2020-06-09 15:27] rosibaj opened #1559 "Hit area too wide on Facet collapse"
The hit area on the facet collapse is a lttle to big; this causes it to overlap with the search bar hit area.

We need to reduce this just a bit so that when you click the search bar its actually opening the search bar.

![image](https://user-images.githubusercontent.com/15824252/84167376-23013080-aa44-11ea-8089-dd53a9670df5.png)

[2020-06-09 20:55] jaserud opened #1561 "🐛 Prevent submitting decimal commitment level"
## Describe the bug
The create program form doesn't let you submit zero directly, but its possible to submit 0 commitment level if you submit decimal.

## Steps To Reproduce
1. Go to `Manage Program`
2. Enter 0.1 into commitment level
3. Save
![image](https://user-images.githubusercontent.com/34698315/84198533-b1d87200-aa71-11ea-9652-8f29afd650ae.png)
4. Refresh and see how commitment level is now

[2020-06-11 02:36] rosibaj commented on #1559
looks great thanks @wajiha-oicr !

[2020-06-11 02:38] rosibaj commented on #1490
@wajiha-oicr looks great!! thank you!!

[2020-06-11 02:41] rosibaj commented on #1508
testes on qa!
- did a fresh submission
- validated and signed off
- i correctly showed me the dcc the "program updates"

[2020-06-11 02:42] rosibaj commented on #1466
@jaserud my files are all working now that we fixed the " bug - did you have a way to replicate this another way i can try out?

[2020-06-11 02:47] rosibaj commented on #1558
lgtm thanks @anncatton !

[2020-06-11 02:49] rosibaj commented on #1396
closing as this issue is no longer reproducible

[2020-06-11 02:49] #1396 closed

[2020-06-11 02:50] rosibaj commented on #1263
closing as this has been resolved in other tickets

[2020-06-11 02:50] #1263 closed

[2020-06-11 02:54] rosibaj opened #1569 "Show invalid donor state in download table"
Zeplin: https://zpl.io/bLlr3BD

- [x] Invalid donor banner
- [ ] Error icon in the star column
- [x] Invalid donor count in the stats bar

![image](https://user-images.githubusercontent.com/15824252/84339826-4673ca80-ab6d-11ea-95c0-a08ad5e5cc40.png)

[2020-06-11 13:27] kcullion commented on #1490
looks great @wajiha-oicr !

[2020-06-11 19:17] jaserud commented on #1455
Previously I could consistently create the flash to empty state and back by registering new samples and submitting clinical data quickly after one another (basically increase the chances that a poll would hit while the previous index is unreleased and the new one hasn't released)

Latest rollcall release 2.3.0(https://github.com/overture-stack/rollcall/pull/38) seems to have fixed this issue as I

[2020-06-11 19:26] rosibaj commented on #1455
@kcullion can you help me test out this issue to see if you can make it happen?

[2020-06-11 19:27] kcullion commented on #1455
sure I will have a look on QA right now

[2020-06-11 19:38] kcullion commented on #1455
@rosibaj @jaserud I tested a sample registration file and a donor file upload and I didn't see the blank table on the dashboard.
Question - do you think we should display the dna loader over the table until the values are updated? Like don't show the old values at all?

[2020-06-11 20:53] jaserud commented on #1455
@kcullion originally I was thinking of doing that too. But after some thought, I realised a 30 sec loader might be a bit inconvenient. It would mean you have to wait 30 secs to see your dashboard even if you made no updates.

[2020-06-11 21:35] kcullion commented on #1455
@jaserud yeah that wouldn't be ideal, so yes, we shall leave this :) Thanks!

[2020-06-12 14:47] #1455 closed

[2020-06-12 21:19] hlminh2000 opened #1584 "File Repo manifest tsv download"
needs to integrate with https://argo-gateway.dev.argo.cancercollaboratory.org/api-docs/#/default/get_file_centric_tsv_score_manifest

## Detailed Description
- needs to take table selection into account

## Possible Implementation
already done, just making a ticket to link PR

[2020-06-15 13:39] rosibaj commented on #1273
lgtm thanks @anncatton !

[2020-06-15 21:09] rosibaj opened #1595 "Cannot query from last page of files"
1. go to https://platform-ui.qa.argo.cancercollaboratory.org/repository
1. Make sure you have NO QUERY
1. Click to the last page of the file repository table
![image.png](https://images.zenhubusercontent.com/5a06111e8a75884b9086f5d8/12855e6c-230b-4783-9d11-194ecbb32bcc)
1. Once it has gone to the last page, pick a value from the `gender`, `data type` or `file_type` facet.
![image.png](https://imag

[2020-06-15 21:24] rosibaj opened #1596 "🐛 Blip on transitions in file repository"
1. when i open the file repo (first load)
2. pick a facet
3. observe the weird flash before  the page loads with data
4. this always happens the VERY first time i use afacet, and then sometimes when adding other facets
5. if i click clear, and picka new facet, no weird blip

## Expected Behaviour
Improve the transition state to have a smoother flow when picking a facet, like icgc or gdc

[2020-06-15 21:32] kcullion opened #1597 "Homepage: hook up stats"
Hook up the homepage stats to the real numbers from the file repo:
![2020-06-15_1726.png](https://images.zenhubusercontent.com/5a5f5bcd4b5806bc2bc31a86/17b9b9ec-2358-490a-a5f9-3233efe66683)

------
- [ ] Hide Primary Site
- [ ] Hook up the other three stats to the same queries available in the file repository
![image](https://user-images.githubusercontent.com/15824252/84712934-da5fe080-af37-11ea-8

[2020-06-15 21:43] rosibaj commented on #1510
@wajiha-oicr lgtm! thank you!

[2020-06-15 21:52] hlminh2000 commented on #1597
@rosibaj Primary sites are not yet available, should just remove for now?

[2020-06-15 22:35] #1471 closed

[2020-06-15 22:37] rosibaj commented on #1552
This has been resolved; the security flag is no longer visible on github.

[2020-06-15 22:37] #1552 closed

[2020-06-15 22:42] rosibaj commented on #1597
@hlminh2000 @kcullion I have finally had time to update this ticket :) Yes, @hlminh2000 please remove primary site for now.

[2020-06-15 22:44] #1527 closed

[2020-06-15 22:44] #1381 closed

[2020-06-15 22:44] #1470 closed

[2020-06-15 22:44] #1383 closed

[2020-06-15 22:44] #1559 closed

[2020-06-15 22:44] #1490 closed

[2020-06-15 22:44] #1558 closed

[2020-06-15 22:44] #1508 closed

[2020-06-15 22:44] #1466 closed

[2020-06-15 22:44] #1553 closed

[2020-06-15 22:45] #1273 closed

[2020-06-15 22:45] #1274 closed

[2020-06-15 22:45] #1402 closed

[2020-06-15 22:45] #1584 closed

[2020-06-15 22:56] rosibaj opened #1598 "Add additional facets to the file reposiotry"
We are now ready to add `data_cateogory` and `analysis_tools` to the file repository facets now.

- available in both maestro and gateway

https://docs.google.com/spreadsheets/d/1BJiqjbN0aqAsRNAP0HUSmAN_0yapVO7CEMyiL6qfidg/edit#gid=0

[2020-06-16 14:09] rosibaj commented on #1595
This has been confirmed to be fixed in QA environment - issue not seen anymore

[2020-06-16 14:09] #1595 closed

[2020-06-16 14:11] hlminh2000 commented on #1596
need to remove the conditional rendering of the facets on facets loading state

[2020-06-16 23:36] anncatton opened #1608 "Add keypress functionality to File ID search"
Add functionality for up and down arrows to navigate search results, and enter key for selecting a file id.

[2020-06-17 12:07] wajiha-oicr commented on #1520
@blabadi @rosibaj I'm not too sure if this is a UI bug? From my testingI noticed that clearing a good file doesn't simply clear the upload **errors** of a file, but rather clears out the entire file.

I guess my question is, is this not intended behaviour? I believe this is because after clearing a good file, it triggers a refetch of the active clinical submission, which naturally would not return

[2020-06-17 13:04] blabadi commented on #1520
the problem is that if I clear treatment tab it shouldn't clear specimen tab

[2020-06-17 13:23] wajiha-oicr commented on #1520
but I believe the UI is just reflecting the state of the active clinical submission. 'clear' triggers a re-fetch of the clinical submission so files with errors don't show up as a result.

 i.e. same thing happens, for example: you can upload a file with errors, refresh the page, and that tab is cleared.

[2020-06-17 15:12] anncatton opened #1611 "Improve tooltip behaviour for long facet names in File Repo"
The tooltip for facet option text overflow is currently activated on a fixed char length (28 chars), but this will break down when the doc_counts get larger. Can this be implemented so that the tooltip is activated when the text-overflow is triggered, and the doc_count labels can be allowed to expand as needed?

[2020-06-17 15:24] rosibaj commented on #1597
lgtm thanks @jaserud

[2020-06-17 16:00] rosibaj commented on #1517
Couple things:
- [ ] 1
![image](https://user-images.githubusercontent.com/15824252/84920652-705b4e80-b091-11ea-995c-3b545bd9ba0a.png)

- [ ] 2
![image](https://user-images.githubusercontent.com/15824252/84920692-80732e00-b091-11ea-9b08-0aedc0af8537.png)

[2020-06-17 16:29] wajiha-oicr commented on #1569
what's the error report download button in the banner?

[2020-06-17 17:24] anncatton commented on #1517
@rosibaj is the windows issue in Chrome?

[2020-06-17 17:56] rosibaj opened #1614 "Quick search behaviour feedback"
Followup to: https://github.com/icgc-argo/platform-ui/issues/1517.  This ticket includes teh quicksearch feedback.

Couple of things:
- [ ] 1 - scroll bar issue
![image](https://user-images.githubusercontent.com/15824252/84920652-705b4e80-b091-11ea-995c-3b545bd9ba0a.png)

- [ ] 2 - focus issue
![image](https://user-images.githubusercontent.com/15824252/84920692-80732e00-b091-11ea-9b08-0aedc0af8537

[2020-06-17 18:00] blabadi commented on #1520
cool no problem then I guess we have to live with this behavior

[2020-06-17 18:00] #1520 closed

[2020-06-17 18:05] rosibaj commented on #1614
@anncatton windows 10/chrome is system

[2020-06-17 18:24] wajiha-oicr commented on #1569
while It's possible for me to be show the total number of invalid donors **could** via calculations from the frontend, that information seems like it should be coming from gateway just like the rest of the statistics.

Doesn't seem like there's anything in place for that just yet from the current queries to the gateway. @hlminh2000 please correct me if I'm wrong. I'm thinking we should make a tick

[2020-06-17 19:07] #1517 closed

[2020-06-17 19:07] #1510 closed

[2020-06-17 19:08] #1598 closed

[2020-06-17 19:08] #1597 closed

[2020-06-17 19:39] rosibaj commented on #1569
@wajiha-oicr  please remove the error report line for now (i iwll make a separate ticekt for that)!

[2020-06-17 20:52] rosibaj opened #1616 "add column to file repo table"
![image](https://user-images.githubusercontent.com/15824252/84949212-e1632c00-b0ba-11ea-9a42-83bf8c4c4710.png)

[2020-06-17 20:56] anncatton commented on #1517
Also will include:
- case-insensitive search
- decrease search icon size

[2020-06-17 21:10] hlminh2000 opened #1617 "🐛 url param states are double firing"
## Describe the bug
This causes some complexity in state management.

## Steps To Reproduce (for developers)
Log out the filters state according to `useUrlParamState.ts`, you'd see every change is triggered twice. Since this is a piece of code meant for and will be reused throughout the app, fixing this will help simplify usage in future. In https://github.com/icgc-argo/platform-ui/pull/1615 for e